@model IPagedList<BizOneShot.Light.Models.ViewModels.FaqViewModel>

<script>
    $(document).ready(function () {


        $('#naviwrap_biz > .navi_biz >  a.navi_CS').addClass('on');

        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_faq').addClass('on');


	    $('#faq_slide > li.board > .que > a').click(function(){
		    var checkElement = $(this).parent().next();
		    if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		        $('#faq_slide > li.board > .que > ul:visible').slideUp(300);
		        checkElement.slideUp(300);
			    $(this).attr("class", "dft");
			    return false;
		    }
		    if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
			    $('#faq_slide > li.board > ul:visible').slideUp(300);
			    checkElement.slideDown(300);
			    $('#faq_slide > li.board > .que > a').attr("class", "dft");
			    $(this).attr("class", "on");
			    return false;
		    }
	    });

    });

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>


<div id="custom_rightwrap">
    <div class="custom_right_title03">
        <em>FAQ</em>
    </div>
    <div id="list">
        <div id="faqwrap">
            <div class="faq">
                <ul class="heading">
                    <li class="sep">분류</li>
                    <li class="que">질문</li>
                </ul>
                <ul id="faq_slide">
                    <!--list01-->
                    @if (Model != null &&  Model.TotalItemCount != 0)
                    { 
                        foreach (var item in Model)
                        {
                            <li class="board">
                                @if (Session[Global.UserType] != null && (Session[Global.UserType].Equals(Global.SysManager) || Session[Global.UserType].Equals(Global.BizManager)))
                                {
                                    <span class="sep">@item.QclNm</span><span class="que"><a href="@Url.Action("FaqDetail","Cs", new {@faqSn = item.FaqSn })" class="on">@item.QstTxt</a></span>
                                }
                                else
                                {
                                    <span class="sep">@item.QclNm</span><span class="que"><a href="" class="on">@item.QstTxt</a></span>
                                <!--슬라이드시작-->
                                    <ul style="display:none;">
                                        <li class="read">
                                            <div class="apply_wrap">
                                                <p>@Html.Raw(item.AnsTxt)</p>
                                            </div>
                                        </li>
                                    </ul>
                                }

                                <!--슬라이드끝-->
                            </li>
                        }
                    }
                    else
                    {
                        <li class="board">
                            <span class="sep" style="display:block;text-align:center;width:750px">검색 결과가 없습니다.</span>
                        </li>
                    }
                    <!--list01//-->
                </ul><!--faq_slide//-->
            </div><!--faq//-->
        </div><!--faqwrap//-->

        @if (Model != null && Model.TotalItemCount != 0)
        {
            @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)
        }

    </div>

    <div id="custom_search_box">
        @using (Html.BeginForm("Faq", "Cs", FormMethod.Post, new { id = "searchForm"@*, onsubmit = "return goPage(1);"*@ }))
        {
            <span class="bold">SEARCH&nbsp;</span>

            @Html.DropDownList("SelectList", null, new { @class = "select", @id="searchType" })

            <img src="~/Images/icon_lenz.png" class="lenz">@Html.TextBox("QUERY", null, new { @class = "search", @placeholder = "검색어를 입력하세요", @id = "QUERY" })
            <input type="submit" id="search" class="bt_search" value="검색" onclick="goPage('1');">

            @Html.Hidden("curPage", "1")
        }
    </div><!--custom_search_box//-->

   @if (Session[Global.UserType] != null && (Session[Global.UserType].Equals(Global.SysManager) || Session[Global.UserType].Equals(Global.BizManager)))
   {
        <div id="btnwrap_sub">
            <a href="@Url.Action("RegFaq","Cs")" class="faq_regi right"><em>공지등록</em></a>
        </div><!--btnwrap//-->
    }
    
</div><!--custom_rightwrap//-->