@model BizOneShot.Light.Models.ViewModels.FaqViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#naviwrap_biz > .navi_biz >  a.navi_CS').addClass('on');

        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_faq').addClass('on');

        $('#mainForm').bind('submit', function () {

            if ($('#QstTxt').val().trim().length == 0) {
                alert("FAQ 질문을 입력하지 않았습니다.");
                return false;
            }

            if ($('#AnsTxt').val().trim().length == 0) {
                alert("FAQ 답변을 입력하지 않았습니다.");
                return false;
            }

            if (!confirm("FAQ를 수정 하시겠습니까?")) {
                return false;
            }

        });

    });
</script>

<div id="sub_rightwrap">
    <div class="sub_right_title admin0504"><em>FAQ 관리</em></div>

    @using (Html.BeginForm("ModifyFaq", "Cs", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "mainForm" }))
    {
        @Html.HiddenFor(model => model.FaqSn)
        <div class="tablewrap">
            <table>
                <caption>faq 등록하기</caption>
                <colgroup>
                    <col width="120px" />
                    <col width="255px" />
                    <col width="120px" />
                    <col width="255px" />
                </colgroup>
                <tr>
                    <th><label for="">분류</label></th>
                    <td class="form" colspan="3">
                        @{
                            if (ViewBag.SelectQclList != null)
                            {
                                @Html.DropDownListFor(model => model.QclSn, ViewBag.SelectQclList as SelectList, new { @class = "w250" });
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th><label for="">질문</label></th>
                    <td colspan="3" class="form">@Html.TextBoxFor(model => model.QstTxt, new { @class = "w590" })</td>
                </tr>
                <tr>
                    <th><label for="">답변</label></th>
                    <td colspan="3" class="modify">
                        @Html.TextAreaFor(model => model.AnsTxt, new { @placeholder = "자주하는 질문에 대한 답변내용을 등록할 수 있습니다" })
                    </td>
                </tr>
            </table>
        </div><!--tablewrap-->


                            <div id="btnwrap_sub">
                                <div class="rightwrap">
                                    <button type="submit" class="save2" id="btn_save" name="btn_save"><em>저장</em></button>
                                    <button type="button" class="cancel2 right" value="취소" onclick="if (confirm('지금까지 작성된 내용을 취소하시겠습니까?')) location.href='@Url.Action("Faq", "Cs")'" />
                                    @*<a href="@Url.Action("Faq", "Cs")" class="cancel2 right"><em>취소</em></a>*@
                                </div>
                            </div><!--btnwrap//-->
                            }
                            

</div><!--sub_rightwrap//-->