@model IPagedList<BizOneShot.Light.Models.ViewModels.MentoringTotalReportViewModel>


@{
    Layout = "~/Areas/Mentor/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_mentor01').addClass('on');
        //left menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_mentoringTrList').addClass('on');

        //체크박스 전체선택
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        //삭제버튼클릭
        $("#btn_delete").click(function () {
            if (confirm('선택하신 멘토링 종합보고서를 삭제하시겠습니까?')) {
                if ($(":checkbox[name='acc_choice']:checked").length < 1) {
                    alert("삭제하실 항목을 선택하여 주십시오.");
                    return false;
                }


                var array = [];
                $("input:checkbox[name='acc_choice']").each(function () {
                    if (this.checked) {
                        array.push(this.value);
                    }
                });

                $.ajaxSettings.traditional = true;
                $.ajax({
                    type: "post",
                    url: '@Url.Action("DeleteMentoringTotalReport", "MentoringReport")',
                    dataType: "json",
                    data: {
                        TotalReportSns: array
                    },
                    success: function (data) {
                        
                        alert("삭제 하였습니다");
                        window.location = '@Url.Action("MentoringTotalReportList", "MentoringReport")';
                    },
                    fail: function (error) {
                        alert('error :' + error.responseText);
                    }
                });
            } else {
                return false;
            }
        });


        //드롭다운리스트 처리
        $('#BizWorkYear').change(function () {
            $('#curPage').val(1);

            var bizWorkYear = $('#BizWorkYear').val();

            $('#BizWorkSn').attr("disabled", false);
            $('#BizWorkSn').html("");

            $.ajax({
                url: '@Url.Action("getBizWork", "MentoringReport")',
                type: "post",
                dataType: "json",
                data: { bizWorkYear: bizWorkYear },
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#BizWorkSn').append("<option value='" + result[i].BizWorkSn + "'>" + result[i].BizWorkNm + "</option>");
                    }
                }
            });

        });

        $('#BizWorkSn').change(function () {
            $('#curPage').val(1);

            var bizWorkYear = $('#BizWorkYear').val();
            var bizWorkSn = $('#BizWorkSn').val();

            $('#CompSn').attr("disabled", false);
            $('#CompSn').html("");
            $.ajax({
                url: '@Url.Action("getBizComp", "MentoringReport")',
                type: "post",
                dataType: "json",
                data: { bizWorkSn: bizWorkSn, bizWorkYear: bizWorkYear },
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#CompSn').append("<option value='" + result[i].CompSn + "'>" + result[i].CompNm + "</option>");
                    }
                }
            });

        });

        $('#CompSn').change(function () {
            $('#curPage').val(1);
        });

    });

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>

<div id="sub_rightwrap">
    <div class="sub_right_title mentor_01_04"><em>멘토링 종합보고서 조회</em></div>

    @using (Html.BeginForm("MentoringTotalReportList", "MentoringReport", FormMethod.Post, new { area = "Mentor", id = "searchForm" }))
    {
        <div id="sub_inquiry_box">
            @Html.DropDownList("BizWorkYear", ViewBag.SelectBizWorkYearList as SelectList, new { @class = "w130", @id = "BizWorkYear" })
            @Html.DropDownList("BizWorkSn", ViewBag.SelectBizWorkList as SelectList, new { @class = "w150", @id = "BizWorkSn" })
            @Html.DropDownList("CompSn", ViewBag.SelectCompInfoList as SelectList, new { @class = "w150", @id = "CompSn" })
            <button type="submit" class="inquire" value="종합보고서조회">조회</button>
        </div><!--sub_inquiry_box//-->
        @Html.Hidden("curPage", "1")
    }
    <div class="line_dot20"></div>

    <form method="" action="" name="" id="">
        <div class="tablewrap">
            <!--목록-->
            <table class="admin_list">
                <caption>멘토링 종합보고서 조회</caption>
                <colgroup>
                    <col width="5%">
                    <col width="30%">
                    <col width="30%">
                    <col width="19%">
                    <col width="15%">
                </colgroup>
                <tr>
                    <th class="topcen"><input type="checkbox" id="checkAll" /></th>
                    <th class="topcen">사업명</th>
                    <th class="topcen">기업명</th>
                    <th class="topcen">제출일</th>
                    <th class="topcen">보고서 보기</th>
                </tr>

                @if (Model == null || Model.TotalItemCount == 0)
                {
                    <tr>
                        <td colspan="7" style="text-align:center;">검색 결과가 없습니다.</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="acc_choice" value="@item.TotalReportSn" /></td>
                            <td>@item.BizWorkNm</td>
                            <td>@item.CompNm</td>
                            <td>@item.SubmitDt.Value.ToString("yyyy-MM-dd")</td>
                          
                            <td>
                                <span class="full_line">@Html.ActionLink("보기", "MentoringTotalReportDetail", new {totalReportSn = item.TotalReportSn , BizWorkYear = ViewBag.SelectParam.BizWorkYear, BizWorkSn = ViewBag.SelectParam.BizWorkSn, CompSn = ViewBag.SelectParam.CompSn }, new { @style = "text-decoration:underline;" })</span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div><!--tablewrap//-->
        
        @if (Model != null && Model.TotalItemCount != 0)
        {
            @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)

            <!--삭제버튼-->
            <div id="btnwrap_sub">
                <input type="button" id="btn_delete" class="delete right" />
            </div>
        }

    </form>

</div><!--sub_rightwrap//-->