@model BizOneShot.Light.Models.ViewModels.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_MyInfo').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_ChangePw').addClass('on');
    });

    function goSubmit() {
        if (confirm('비밀번호를 변경 하시겠습니까?')) {
            $('#mainForm').submit();
        }
    }
</script>


<div id="sub_rightwrap">
    <div class="sub_right_title biz050102"><em>비밀번호 변경</em></div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @area = "", @class = "form-horizontal", role = "form", @id="mainForm" }))
    {
        <div class="space10"></div>
        <div class="white_boxwrap">
            <!--비밀번호변경-->
            <div class="form_box">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p><span class="cate bold">ㆍ아이디</span>@Html.TextBoxFor(m => m.ID, new { @placeholder = "아이디", @class = "w300" }) @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })</p>
                
                <p><span class="cate bold">ㆍ현재 비밀번호</span>@Html.PasswordFor(m => m.LoginPw, new { @placeholder = "현재 비밀번호", @class = "w300" }) @Html.ValidationMessageFor(m => m.LoginPw, "", new { @class = "text-danger" })</p>
                
                <p><span class="cate bold">ㆍ새 비밀번호</span>@Html.PasswordFor(m => m.NewLoginPw, new { @placeholder = "새 비밀번호", @class = "w300" }) @Html.ValidationMessageFor(m => m.NewLoginPw, "", new { @class = "text-danger" })</p>
                
                <p><span class="cate bold">ㆍ비밀번호 확인</span>@Html.PasswordFor(m => m.ConfirmNewLoginPw, new { @placeholder = "새 비밀번호 확인", @class = "w300" }) @Html.ValidationMessageFor(m => m.ConfirmNewLoginPw, "", new { @class = "text-danger" })</p>
                
            </div>

        </div><!--비밀번호변경 끝-->
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <div id="btnwrap_sub">
            <div class="rightwrap">
                <button type="button" onclick="goSubmit()" class="confirm2" value="확인" id="btn_modify" name="btn_modify"></button>
            </div>
        </div><!--btnwrap//-->
    }
</div><!--sub_rightwrap//-->