

@if (Session[Global.UserType] == null)
{
    <div id="sub_leftwrap">
        <div class="sub_gnbwrap">
            <ul>
                <li class="title biz_customcenter"><em>고객센터</em></li>
                @*<li><a href="@Url.Action("Guide","Cs")" class="gnb gnb_guide">이용안내</a></li>*@
                @*<li><a href="@Url.Action("Notice","Cs")" class="gnb gnb_notice">공지사항</a></li>*@ @*나중에제거 : 로그인전에는 FAQ만*@
                <li><a href="@Url.Action("Faq","Cs")" class="gnb gnb_faq">FAQ</a></li>
                @*<li><a href="@Url.Action("Manual","Cs")" class="gnb gnb_menual">매뉴얼 및 서식</a></li>*@ @*나중에제거 : 로그인전에는 FAQ만*@
            </ul>
        </div><!--custom_gnbwrap//-->
    </div><!--custom_leftwrap//-->
}
else
{

    if (Session[Global.UserType].Equals(Global.Company))
    {// 기업회원
       @RenderPage("~/Areas/Company/Views/Shared/_MainLeftMenuPatial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.Mentor))
    {// 멘토
        @RenderPage("~/Areas/Mentor/Views/Shared/_MainLeftMenuPatial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.SysManager))
    {//SCP 관리자
        @RenderPage("~/Areas/SysManager/Views/Shared/_MainLeftMenuPatial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.BizManager))
    {//사업 관리자
        @RenderPage("~/Areas/BizManager/Views/Shared/_MainLeftMenuPatial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.Expert))
    {//전문가
        @RenderPage("~/Areas/Expert/Views/Shared/_MainLeftMenuPatial.cshtml")
    }
}


