<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/common")
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/localstorage")
</head>
<body>
    <div id="Wrapper">
        <div id="headerwrap_main">
            <div class="container">
                <a href="@Url.Action("Index","Home", new { area = "" })" class="biz_mainlogo"><img src="../images/@Session[Global.UserLogo]" class="float_left" /></a>
            </div>
        </div><!--headerwrap//-->


        <div>
            @RenderBody()
        </div>

        <!--// footer //-->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <!--// footer //-->
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
