

@if (Session[Global.UserType] == null)//비회원
{
    <div id="headerwrap_biz">
        <div class="container">
            <a href="@Url.Action("Index","Home", new { area = "" })"><img src="/images/bi_main.png" /></a>
                <div id="naviwrap_biz">
                    <div class="navi navi_all navi_biz">
                        <a href="@Url.Action("Login","Home", new { area = "" })" class="navi01 navi_login"><em>로그인</em></a><img src="~/Images/header_bar.png" class="navibar">
                        <a href="@Url.Action("CompanyAgreement","Account", new { area = "" })" class="navi02 navi_join"><em>회원가입</em></a><img src="~/Images/header_bar.png" class="navibar">
                        <a href="@Url.Action("Faq","Cs", new { area = "" })" class="navi03 navi_CS"><em>고객센터</em></a>
                    </div>
                </div><!--naviwrap//-->
        </div>
    </div><!--headerwrap//-->
}
else
{
    if (Session[Global.UserType].Equals(Global.Company))
    {// 기업회원
        @RenderPage("~/Areas/Company/Views/Shared/_MainTopMenuPartial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.Mentor))
    {// 멘토
        @RenderPage("~/Areas/Mentor/Views/Shared/_MainTopMenuPartial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.SysManager))
    {//SCP 관리자
        @RenderPage("~/Areas/SysManager/Views/Shared/_MainTopMenuPartial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.BizManager))
    {//사업 관리자
        @RenderPage("~/Areas/BizManager/Views/Shared/_MainTopMenuPartial.cshtml")
    }
    if (Session[Global.UserType].Equals(Global.Expert))
    {//사업 관리자
        @RenderPage("~/Areas/Expert/Views/Shared/_MainTopMenuPartial.cshtml")
    }
}


