@model BizOneShot.Light.Models.ViewModels.DataRequstViewModels

@{
    Layout = "~/Areas/Expert/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_expert01').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_RcvData').addClass('on');

    });

</script>

<div id="sub_rightwrap">

    <div class="sub_right_title expert_receive02"><em>자료요청 수신함 상세보기</em></div>
    <div class="tablewrap">
        <table>
            <colgroup>
                <col width="100px">
                <col width="260px">
                <col width="100px">
                <col width="150px">
                <col width="140px">
            </colgroup>
            <tr>
                <th>기업명</th>
                <td colspan="4">@Model.SenderComNm</td>
            </tr>
            <tr>
                <th>사업자번호</th>
                <td colspan="4">@Model.SenderRegistrationNo</td>
            </tr>
            <tr>
                <th>요청일자</th>
                <td colspan="4">@Model.ReqDt.GetValueOrDefault().ToShortDateString()</td>
            </tr>
            <tr>
                <th>제목</th>
                <td colspan="4">@Model.ReqSubject</td>
            </tr>
            <tr>
                <th>내용</th>
                <td colspan="4" class="read">@Html.RepladeHtmlText(Model.ReqContents)</td>

                
            </tr>
            @if (Model.SenderFiles.Count == 1)
            {
                <tr>
                    <!--첨부파일1개일때-->
                    <th>첨부파일</th>
                    <td colspan="4" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                <li><span>@Model.SenderFiles[0].FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", @Model.SenderFiles[0])';" value="다운로드"></button></li>
                            </ul>
                        </div>
                    </td>
                </tr><!--첨부파일1개일때 끝-->
            }
            else if (Model.SenderFiles.Count > 1)
            {
                <tr>
                    <!--첨부파일2개이상일때-->
                    <th>첨부파일</th>
                    <td colspan="3" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                @foreach (var item in Model.SenderFiles)
                                {
                                    @*<li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DocumentDownload", new { fileSn = @item.FileSn })';" value="다운로드"></button></li>*@

                                    <li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", item)';" value="다운로드"></button></li>

                                }
                            </ul>
                        </div>
                    </td>
                    <td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadReqDocFileMulti", new { reqDocSn = Model.ReqDocSn, regType = "S" })';" value="전체 다운로드"></button></td>
                    @*<td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadManual", Model.ManualFiles)';" value="전체 다운로드"></button></td>*@
                </tr><!--첨부파일2개이상일때 끝-->
            }
            
        </table>
    </div><!--tablewrap//-->

    <div class="line_dot20"></div>

    <div class="tablewrap">
        <!--답변-->
        <table>
            <colgroup>
                <col width="100px">
                <col width="260px">
                <col width="100px">
                <col width="150px">
                <col width="140px">
            </colgroup>
            <tr>
                <th width="75px">답변</th>
                <td colspan="4" class="read" width="650px">@Html.RepladeHtmlText(Model.ResContents)<br />
                @if(Model.ChkYn != "Y")
                { 
                    <a href="@Url.Action("ModifyReceive","CompanyMng", new { reqDocSn = @Model.ReqDocSn })" class="bt_reply"><em>답변등록</em></a>
                }
                </td>
            </tr>
            @if (Model.ReceiverFiles.Count == 1)
            {
                <tr>
                    <!--첨부파일1개일때-->
                    <th>첨부파일</th>
                    <td colspan="4" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                <li><span>@Model.ReceiverFiles[0].FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", @Model.ReceiverFiles[0])';" value="다운로드"></button></li>
                            </ul>
                        </div>
                    </td>
                </tr><!--첨부파일1개일때 끝-->
            }
            else if (Model.ReceiverFiles.Count > 1)
            {
                <tr>
                    <!--첨부파일2개이상일때-->
                    <th>첨부파일</th>
                    <td colspan="3" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                @foreach (var item in Model.ReceiverFiles)
                                {
                                    @*<li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DocumentDownload", new { fileSn = @item.FileSn })';" value="다운로드"></button></li>*@

                                    <li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", item)';" value="다운로드"></button></li>

                                }
                            </ul>
                        </div>
                    </td>
                    <td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadReqDocFileMulti", new { reqDocSn = Model.ReqDocSn, regType = "R" })';" value="전체 다운로드"></button></td>
                    @*<td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadManual", Model.ManualFiles)';" value="전체 다운로드"></button></td>*@
                </tr><!--첨부파일2개이상일때 끝-->
            }
        </table>
    </div><!--tablewrap//-->

    <div id="btnwrap_sub">
        <div class="rightwrap">
            <a href="@Url.Action("ReceiveList","CompanyMng")" class="list2 right"><em>목록</em></a>
        </div>
    </div>

</div><!--custom_rightwrap//-->