@model BizOneShot.Light.Models.ViewModels.DataRequstViewModels

@{
    Layout = "~/Areas/Expert/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Js/files.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_expert01').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_SndData').addClass('on');

        $('#submit_form').bind('submit', function () {

            if (!confirm('새 자료요청 보내기를 하시겠습니까?')) {
                return false;
            }
        });

    });

    function searchCompanyOpen()
    {
        var query = $('#QUERY').val();
        w = 725;    //팝업창의 너비
        h = 460;    //팝업창의 높이
        //중앙위치 구해오기
        LeftPosition = (screen.width - w) / 2;
        TopPosition = (screen.height - h) / 2;
        var popUp = window.open('/Expert/CompanyMng/SearchCompanyPopup?QUERY=' + query, 'SearchCompany', "width=" + w + ",height=" + h + ",top=" + TopPosition + ",left=" + LeftPosition + ", scrollbars=no, resizable=no");
        popUp.focus();
    }

    function resultReceive(loginId, comNm) {
        $('#receiverId').val(loginId);
        $('#QUERY').val(comNm);
    }

</script>

<div id="sub_rightwrap">

    <div class="sub_right_title biz030303"><em>새 자료요청 보내기</em></div>

    @using (Html.BeginForm("RegSend", "CompanyMng", FormMethod.Post, new { area = "Expert", @class = "form-horizontal", role = "form", id = "submit_form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.ReceiverId, new { @id = "receiverId" })
        <div class="tablewrap">
            <!--답변-->
            <table>
                <colgroup>
                    <col width="105px">
                    <col width="645px">
                </colgroup>
                <tr>
                    <th>수신자</th>
                    <td class="form">
                        @Html.TextBoxFor(model => model.ReceiverName, new { @class = "w240", @placeholder = "기업명 또는 사업자번호로 검색하세요.", @id = "QUERY" })
                        <button type="button" class="bt_td_search2" value="찾아보기" onClick="javascript: searchCompanyOpen();"></button>
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td class="form">@Html.TextBoxFor(model => model.ReqSubject, new { @class = "w630" })</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td class="reply">
                        @Html.TextAreaFor(model => model.ReqContents)
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td class="nopad">
                        <div id="file_upwrap">
                            <ul>
                                <li>
                                    <!--파일1-->
                                    <input type="text" class="file" readonly="readonly" />
                                    <button type="button" class="file_search" value="찾아보기" onclick="return file_add(this);"></button>
                                    <button type="button" class="file_add" value="파일추가" onclick="return file_inpput_add(this);"></button>
                                    <button type="button" class="file_del" value="파일삭제" onclick="return file_inpput_remove(this);"></button>
                                    <em><input type="file" name="files" onchange="return get_filename(this)" /></em>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--tablewrap//--><!--답변 끝-->
        <div id="btnwrap_sub">
            <div class="rightwrap">
                <button type="submit" class="newdata_require2 rightmargin" value="새 자료요청 보내기" ></button>
                <button type="button" class="cancel2 right" value="취소" onclick="if (confirm('취소 하시겠습니까?')) location.href='@Url.Action("SendList","CompanyMng")'" />
                @*<a href="@Url.Action("SendList","CompanyMng")" class="cancel2 right"><em>취소</em></a>*@

            </div>
        </div>
    }
</div><!--sub_rightwrap//-->