@model IEnumerable<BizOneShot.Light.Models.ViewModels.NoticeViewModel>

@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}


<div class="company_main">
    <div class="container">
        <div id="main_cont5wrap">
            <a href="@Url.Action("RegMentoringReport","MentoringReport", new { area= "Mentor" })"><img src="~/images/mento_service01.png"></a><a href="@Url.Action("BasicSurveyReport","Report", new { area= "Mentor" })"><img src="~/images/mento_service02.png"></a><a href="@Url.Action("Notice","Cs", new { area= "" })"><img src="~/images/company_service03.png"></a>
        </div><!--main_cont5wrap//-->
    </div>
</div>




<div id="main_biz_cont6wrap">

    <div id="main_biz_alertwrap">
        <!--알림창-->
        <p><span class="alert">공지사항</span><a href="@Url.Action("Notice", "Cs", new { area= "" })" class="more" alt="더보기"></a></p>
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("NoticeDetail", "Cs", new { area= "", noticeSn=item.NoticeSn})" class="list">@item.Subject</a><span class="date">@item.RegDt.Value.ToShortDateString()</span></li>
            }
            @if (Model.Count() == 0)
            {
                <li>공지사항이 없습니다.</li>
            }
        </ul>
    </div><!--biz_main_alertwrap//-->

</div><!--main_biz_cont6wrap//-->

