@model BizOneShot.Light.Models.ViewModels.OrgHR01ViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz >  a.navi_report').addClass('on');
        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_basicReport').addClass('on');

        $('#mainForm').bind('submit', function () {

            var valid = true;
            if ($('#submitType').val() == "N") {

                $('textarea[id^="comment"]').each(function () {
                    if ($(this).val().length == 0 && valid == true) {
                        alert("필수항목을 입력해 주세요");
                        $(this).focus();
                        valid = false;

                        return false;
                    }
                });
                return valid;
            }

        });

        if ($('#Status').val() == "C") {
            $('#mainForm input').attr('disabled', true);
            $('#mainForm textarea').attr('disabled', true);
        }
    });

    function goSubmit(submitType) {
        $('#submitType').val(submitType);
        $('#mainForm').submit();
    }
</script>
@Styles.Render("~/css/print")
<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_03">
        <em>기초경영역량 보고서</em>
    </div>

    <div id="report_wm_step">
        <!--STEP 아이콘-->
        <ul>
            <li class="basic_report01"><a href="@Url.Action("CompanyInfo","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP01.역량검토 결과 요약</em></a></li>
            <li class="basic_report02 on"><a href="@Url.Action("OverallResultCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP02.기초역량검토 종합결과</em></a></li>
            <li class="basic_report03">
                @if (ViewBag.paramModel.Status as string == "C")
                {
                    <a href="@Url.Action("GrowthRoadMapCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP03.성장로드맵 제안</em></a>
                }
                else
                {
                    <em>STEP03.성장로드맵 제안</em>
                }
            </li>
        </ul>
    </div>
@using (Html.BeginForm("OrgHR01", "BasicSurveyReport", FormMethod.Post, new { area = "", @class = "form-horizontal", role = "form", id = "mainForm" }))
{
    @Html.HiddenFor(model => model.SubmitType, new { @id = "submitType" })
    @Html.Hidden("BizWorkSn", ViewBag.paramModel.BizWorkSn as string)
    @Html.Hidden("CompSn", ViewBag.paramModel.CompSn as string)
    @Html.Hidden("BizWorkYear", ViewBag.paramModel.BizWorkYear as string)
    @Html.Hidden("QuestionSn", ViewBag.paramModel.QuestionSn as string)
    @Html.Hidden("Status", ViewBag.paramModel.Status as string)
    <div class="sub_report_checkbox">
        <div class="report_main_top2"></div>
        <div class="report_main_mid">
            <div class="main_mid_cont">
                <p class="title_mid">
                    Ⅱ. 기초역량검토 종합결과 _ <span class="small_span float_right">
                        역량별
                        검토결과
                    </span>
                </p>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox">

                    <div class="listBox_tap longbg_on noline">
                        <span>(1)조직역량</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="60%">
                        </colgroup>
                        <tr>
                            <td class="left_memo">역량 검토 항목</td>
                            <td>
                                <span class="span_on">□ 기초역량 평가</span> <span class="span_weak">□ 재무지표 평가</span> <span class="span_weak">
                                    □
                                    전문가 평가
                                </span>
                            </td>
                            <td class="center_td">
                                <div class="label_td">인적자원</div> <span class="label_span">
                                    인적자원의
                                    확보를 위한 전략은 조직역량 확충에 가장 중요합니다. 본 체크리스트는 인적자원의 확보를 위한 회사의 제도
                                    및 절차를 검토합니다.
                                </span>
                            </td>
                        </tr>


                    </table>
                </div>

            </div>
            <div class="main_mid_cont">
                <p class="full_p">
                    <span class="big_span">인적자원의 확보와 개발관리 _</span><span class="small_span">인적자원의 확보와 개발의 체계성 정도</span>
                </p>
                <div class="explainBox">
                    <div class="label_ex">
                        <p class="ex_p">
                            <span>•</span>경영의 네 가지 요소는 목표, 인적자원, 물적자원, 전략과 정보입니다.
                        </p>
                        <p class="ex_p">
                            <span style="height: 45px">•</span>그런데 이들 네 가지 요소 모두는 ‘사람
                            인적자원’에 의하여 결정된다는 특징이 있다. 목표를 세우는 것도 사람이며, 물적자원을 조달하고 운용하는 것도
                            사람, 전략을 세우고 정보를 관리하는 것도 사람입니다. 조직에서 인적자원이 얼마나 중요한지를 알 수 있습니다.
                        </p>
                        <p class="ex_p">
                            <span>•</span>인적자원을 관리하는 활동에는 네 가지의 핵심활동이 있는데, 먼저 두 가지의 활동으로
                            다음과 같은 것들이 있습니다.
                        </p>
                        <p class="ex_p">
                            <span class="ex_span">- 확보관리 : </span>우수한 인력을 어떻게 확보할 것인가에 관한
                            것으로 인력수급계획, 종업원 선발 또는 채용 등이 그 내용입니다.
                        </p>
                        <p class="ex_p bot_padding">
                            <span class="ex_span">- 개발관리 : </span>종업원의 잠재적 능력을 어떻게 개발하여
                            그들의 능력을 최대한 발휘할 수 있도록 할 것인가에 관한 것으로 승진, 전환배치, 경력개발, 교육 등이 그
                            내용입니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <table class="capacity_table">
                        <colgroup>
                            <col width="5%">
                            <col width="24.5%">
                            <col width="10%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                        </colgroup>
                        <tr>
                            <td class="left_memo ">NO</td>
                            <td class="left_memo">체크리스트 항목</td>
                            <td class="left_memo">해당기업</td>
                            <td class="left_memo">
                                창업보육<br>단계 평균
                            </td>
                            <td class="left_memo">
                                보육성장<br> 단계 평균
                            </td>
                            <td class="left_memo">
                                자립성장<br> 단계 평균
                            </td>
                            <td class="left_memo">
                                참여<br>기업평균
                            </td>
                            <td class="left_memo">전체평균</td>
                        </tr>
                        @if (Model == null || Model.CheckList.Count == 0)
                        {
                            <tr>
                                <td colspan="7" style="text-align:center;">검색 결과가 없습니다.</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.CheckList)
                            {
                                <tr>
                                    <td class="center_td center">@item.Count</td>
                                    <td class="center_td center">@item.Title</td>
                                    @if (item.AnsVal == true)
                                    {
                                        <td class="center_td center">∎</td>
                                    }
                                    else
                                    { 
                                        <td class="center_td center">□</td>
                                    }
                                    <td class="center_td center">@item.StartUpAvg %</td>
                                    <td class="center_td center">@item.GrowthAvg %</td>
                                    <td class="center_td center">@item.IndependentAvg %</td>
                                    <td class="center_td center">@item.BizInCompanyAvg %</td>
                                    <td class="center_td center">@item.TotalAvg %</td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>
            <div class="main_mid_cont fix_bot list_print">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on">
                        <span>검토결과</span>
                    </div>
                    @Html.TextAreaFor(model => model.CommentList[0].Comment, new { @id = "comment0", @class = "bot_textarea", @placeholder = "500자 내로 작성하시기 바랍니다." })
                    @Html.HiddenFor(model => model.CommentList[0].DetailCd)
                </div>

            </div>
        </div>
    </div>
    <!--container//-->
    <div id="btnwrap_sub" class="bottom_left2">

        <div class="rightwrap left">
            <a href="@Url.Action("OverallResultCover", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="pre left" value="이전"><em>이전</em></a>

        </div>
        <div class="rightwrap right">
            @if (ViewBag.paramModel.Status != "C")
            {
                <button type="button" class="next" onclick="goSubmit('N');" value="다음" />
            }
            else
            {
                <a href="@Url.Action("OrgHR02", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="next right" value="다음"><em>다음</em></a>
            }
        </div>
        @if (ViewBag.paramModel.Status != "C")
        {
            <div class="rightwrap centerwrap">
                <button type="button" class="write_save" onclick="goSubmit('T');" value="임시저장" />
            </div>
        }

    </div>
}
</div>