@model BizOneShot.Light.Models.ViewModels.OverallSummaryViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz >  a.navi_report').addClass('on');
        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_basicReport').addClass('on');

        $('#mainForm').bind('submit', function () {

            var valid = true;
            if ($('#submitType').val() == "N") {

                $('textarea[id^="comment"]').each(function () {
                    if ($(this).val().length == 0 && valid == true) {
                        alert("필수항목을 입력해 주세요");
                        $(this).focus();
                        valid = false;

                        return false;
                    }
                });
                return valid;
            }

        });

        if ($('#Status').val() == "C") {
            $('#mainForm input').attr('disabled', true);
            $('#mainForm textarea').attr('disabled', true);
        }
    });

    function goSubmit(submitType) {
        $('#submitType').val(submitType);
        $('#mainForm').submit();
    }
</script>
@Styles.Render("~/css/print")
<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_03">
        <em>기초경영역량 보고서</em>
    </div>

    <div id="report_wm_step">
        <!--STEP 아이콘-->
        <ul>
            <li class="basic_report01 on"><a href="@Url.Action("CompanyInfo","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP01.역량검토 결과 요약</em></a></li>
            <li class="basic_report02">
                @if (ViewBag.paramModel.Status as string == "C")
                {
                    <a href="@Url.Action("OverallResultCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP02.기초역량검토 종합결과</em></a>
                }
                else
                {
                    <em>STEP02.기초역량검토 종합결과</em>
                }
            </li>
            <li class="basic_report03">
                @if (ViewBag.paramModel.Status as string == "C")
                {
                    <a href="@Url.Action("GrowthRoadMapCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP03.성장로드맵 제안</em></a>
                }
                else
                {
                    <em>STEP03.성장로드맵 제안</em>
                }
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("OverallSummary", "BasicSurveyReport", FormMethod.Post, new { area = "", @class = "form-horizontal", role = "form", id = "mainForm" }))
    {
        @Html.HiddenFor(model => model.SubmitType, new { @id = "submitType" })
        @Html.Hidden("BizWorkSn", ViewBag.paramModel.BizWorkSn as string)
        @Html.Hidden("CompSn", ViewBag.paramModel.CompSn as string)
        @Html.Hidden("BizWorkYear", ViewBag.paramModel.BizWorkYear as string)
        @Html.Hidden("QuestionSn", ViewBag.paramModel.QuestionSn as string)
        @Html.Hidden("Status", ViewBag.paramModel.Status as string)

        <div class="sub_report_checkbox">
            <div class="report_main_top2"></div>
            <div class="report_main_mid">
                <div class="main_mid_cont">
                    <p class="title_mid">
                        Ⅰ. 역량검토 결과 요약 _ <span class="small_span float_right">
                            1.
                            전체 결과요약
                        </span>
                    </p>
                </div>
                <div class="main_mid_cont margin_b10">
                    <div class="main_mid_listBox full_line">

                        <div class="listBox_tap longbg_on full_line">
                            <span>(1)역량검토결과 발전단계</span>
                        </div>
                        <div class="left_tableBg">
                            <!-- 발전단계 테이블 영역 -->
                            <div class="table_title margin_t12">사업평균 : @Model.AvgTotalPoint 점</div>
                            <div class="table_title margin_t2">해당기업 : @Model.CompanyPoint 점</div>
                        </div>
                        <div class="right_chart">
                            <!-- 차트가 표현되는 영역 -->
                            @if (Model.BizCapaType == "C")
                            {
                                <div class="topBg_01"></div><!-- 창업보육단계 -->
                            }
                            else if (Model.BizCapaType == "B")
                            {
                                <div class="topBg_02"></div><!-- 보육성장단계 -->
                            }
                            else if (Model.BizCapaType == "A")
                            {
                                <div class="topBg_03"></div><!-- 자립성장단계 -->
                            }

                            @if (Model.HRMngType == "C")
                            {
                                <div class="flow_01">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.HRMngType == "B")
                            {
                                <div class="flow_02">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.HRMngType == "A")
                            {
                                <div class="flow_03">
                                    <div class="full"></div>
                                </div>
                            }
                            @if (Model.OrgType == "C")
                            {
                                <div class="flow_01">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.OrgType == "B")
                            {
                                <div class="flow_02">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.OrgType == "A")
                            {
                                <div class="flow_03">
                                    <div class="full"></div>
                                </div>
                            }
                            @if (Model.MarketingType == "C")
                            {
                                <div class="flow_01">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.MarketingType == "B")
                            {
                                <div class="flow_02">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.MarketingType == "A")
                            {
                                <div class="flow_03">
                                    <div class="full"></div>
                                </div>
                            }
                            @if (Model.CustMngType == "C")
                            {
                                <div class="flow_01 margin_t1">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.CustMngType == "B")
                            {
                                <div class="flow_02 margin_t1">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.CustMngType == "A")
                            {
                                <div class="flow_03 margin_t1">
                                    <div class="full"></div>
                                </div>
                            }
                            @if (Model.BasicCapaType == "C")
                            {
                                <div class="flow_01">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.BasicCapaType == "B")
                            {
                                <div class="flow_02">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.BasicCapaType == "A")
                            {
                                <div class="flow_03">
                                    <div class="full"></div>
                                </div>
                            }
                            @if (Model.RoolType == "C")
                            {
                                <div class="flow_01">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.RoolType == "B")
                            {
                                <div class="flow_02">
                                    <div class="full"></div>
                                    <div class="blank"></div>
                                </div>
                            }
                            else if (Model.RoolType == "A")
                            {
                                <div class="flow_03">
                                    <div class="full"></div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="main_mid_cont margin_b10">
                    <div class="main_mid_listBox nomargin2">

                        <div class="listBox_tap longbg_on">
                            <span>(2)항목별 역량검토결과</span>
                        </div>
                        <table class="join_info">
                            <colgroup>
                                <col width="9%">
                                <col width="11%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                            </colgroup>
                            <tr>
                                <td class="left_memo ">구분</td>
                                <td class="left_memo">
                                    기초역량<br>평가
                                </td>
                                <td class="left_memo">해당기업</td>
                                <td class="left_memo">참여기업평균</td>
                                <td class="left_memo">전체평균</td>
                                <td class="left_memo">
                                    재무지표<br>평가
                                </td>
                                <td class="left_memo">해당기업</td>
                                <td class="left_memo">참여기업평균</td>
                                <td class="left_memo">전체평균</td>
                                <td class="left_memo">중소기업평균</td>

                            </tr>
                            <tr>
                                <td class="left_memo col_b3">조직역량</td>
                                <td class="left_memo col_ee">
                                    인적자원<br>관리
                                </td>
                                <td class="center_td small">@Model.OrgCapa.CompanyPoint 점</td>
                                <td class="center_td small">@Model.OrgCapa.AvgBizInCompanyPoint 점</td>
                                <td class="center_td small">@Model.OrgCapa.AvgTotalPoint 점</td>
                                <td class="left_memo col_ee">
                                    1인당<br>노동생산성
                                </td>
                                <td class="center_td small">@Model.OrgCapa.CompanyPoint2 천원</td>
                                <td class="center_td small">@Model.OrgCapa.AvgBizInCompanyPoint2 천원</td>
                                <td class="center_td small">@Model.OrgCapa.AvgTotalPoint2 천원</td>
                                <td class="center_td small">@Model.OrgCapa.AvgSMCompanyPoint 천원</td>
                            </tr>
                            <tr>
                                <td class="left_memo col_d6">
                                    상품화<br>역량
                                </td>
                                <td class="left_memo col_ee">
                                    기술경영<br>마케팅관리
                                </td>
                                <td class="center_td small">@Model.ProductionCapa.CompanyPoint 점</td>
                                <td class="center_td small">@Model.ProductionCapa.AvgBizInCompanyPoint 점</td>
                                <td class="center_td small">@Model.ProductionCapa.AvgTotalPoint 점</td>
                                <td class="left_memo col_ee">
                                    매 출<br>영업이익률
                                </td>
                                <td class="center_td small">@Model.ProductionCapa.CompanyPoint2 %</td>
                                <td class="center_td small">@Model.ProductionCapa.AvgBizInCompanyPoint2 %</td>
                                <td class="center_td small">@Model.ProductionCapa.AvgTotalPoint2 %</td>
                                <td class="center_td small">@Model.ProductionCapa.AvgSMCompanyPoint %</td>
                            </tr>
                            <tr>
                                <td class="left_memo col_fd">
                                    위험관리<br>역량
                                </td>
                                <td class="left_memo col_ee">
                                    기초역량
                                </td>
                                <td class="center_td small">@Model.RiskMngCapa.CompanyPoint 점</td>
                                <td class="center_td small">@Model.RiskMngCapa.AvgBizInCompanyPoint 점</td>
                                <td class="center_td small">@Model.RiskMngCapa.AvgTotalPoint 점</td>
                                <td class="left_memo col_ee">
                                    유동비율
                                </td>
                                <td class="center_td small">@Model.RiskMngCapa.CompanyPoint2 %</td>
                                <td class="center_td small">@Model.RiskMngCapa.AvgBizInCompanyPoint2 %</td>
                                <td class="center_td small">@Model.RiskMngCapa.AvgTotalPoint2 %</td>
                                <td class="center_td small">@Model.RiskMngCapa.AvgSMCompanyPoint %</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="main_mid_cont margin_b10">
                    <div class="main_mid_listBox nomargin2">
                        <table class="join_info">
                            <colgroup>
                                <col width="9%">
                                <col width="11%">
                                <col width="80%">
                            </colgroup>
                            <tr>
                                <td class="left_memo ">구분</td>
                                <td class="left_memo">
                                    전문가<br>평가
                                </td>
                                <td class="left_memo">분석결과</td>

                            </tr>
                            <tr>
                                <td class="left_memo col_b3">조직역량</td>
                                <td class="left_memo col_ee">조직분화도</td>
                                <td class="center_td ">@Html.TextAreaFor(model => model.CommentList[0].Comment, new { @id = "comment0", @placeholder = "300자 내로 작성하시기 바랍니다." })</td>
                                @Html.HiddenFor(model => model.CommentList[0].DetailCd)
                            </tr>
                            <tr>
                                <td class="left_memo col_d6">
                                    상품화<br>역량
                                </td>
                                <td class="left_memo col_ee">
                                    고객의 수,<br>상품의 질 및<br>마케팅수준
                                </td>
                                <td class="center_td ">@Html.TextAreaFor(model => model.CommentList[1].Comment, new { @id = "comment1", @placeholder = "300자 내로 작성하시기 바랍니다." })</td>
                                @Html.HiddenFor(model => model.CommentList[1].DetailCd)
                            </tr>
                            <tr>
                                <td class="left_memo col_fd">
                                    위험관리<br>역량
                                </td>
                                <td class="left_memo col_ee">
                                    재무회계<br>관리체계 및 <br>제도수준
                                </td>
                                <td class="center_td ">@Html.TextAreaFor(model => model.CommentList[2].Comment, new { @id = "comment2", @placeholder = "300자 내로 작성하시기 바랍니다." })</td>
                                @Html.HiddenFor(model => model.CommentList[2].DetailCd)
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    <!--container//-->
        <div id="btnwrap_sub" class="bottom_left2">

            <div class="rightwrap left">
                <a href="@Url.Action("OverallSummaryCover", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="pre left" value="이전"><em>이전</em></a>

            </div>
            <div class="rightwrap right">
                @if (ViewBag.paramModel.Status != "C")
                {
                    <button type="button" class="next" onclick="goSubmit('N');" value="다음" />
                }
                else
                {
                    <a href="@Url.Action("OverallResultCover", "BasicSurveyReport", new { area = "" , BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn})" class="next right" value="다음"><em>다음</em></a>
                }
            </div>
            @if (ViewBag.paramModel.Status != "C")
            {
                <div class="rightwrap centerwrap">
                    <button type="button" class="write_save" onclick="goSubmit('T');" value="임시저장" />
                </div>
            }

        </div>
    }
</div>
