@model BizOneShot.Light.Models.ViewModels.ProductivityProfitabilityViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz >  a.navi_report').addClass('on');
        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_basicReport').addClass('on');

        $('#mainForm').bind('submit', function () {

            var valid = true;
            if ($('#submitType').val() == "N") {

                $('textarea[id^="comment"]').each(function () {
                    if ($(this).val().length == 0 && valid == true) {
                        alert("필수항목을 입력해 주세요");
                        $(this).focus();
                        valid = false;

                        return false;
                    }
                });
                return valid;
            }

        });

        if ($('#Status').val() == "C") {
            $('#mainForm input').attr('disabled', true);
            $('#mainForm textarea').attr('disabled', true);
        }

        makeBarChart("Profitability", @Model.Profitability.Company, @Model.Profitability.AvgBizInCompany, @Model.Profitability.AvgTotal, @Model.Profitability.AvgSMCompany, "%", 1);
        makeBarChart("Growth", @Model.Growth.Company, @Model.Growth.AvgBizInCompany, @Model.Growth.AvgTotal, @Model.Growth.AvgSMCompany, "%", 1);
    });

    function goSubmit(submitType) {
        $('#submitType').val(submitType);
        $('#mainForm').submit();
    }

    function makeBarChart(divName, company, avgBizInCompany, avgTotal, avgSMCompany, unit, point) {
        @*var param1 = @Model.Productivity.Company;
        var param2 = @Model.Productivity.AvgBizInCompany;
        var param3 = @Model.Productivity.AvgTotal;
        var param4 = @Model.Productivity.AvgSMCompany;*@

        var param1 = company;
        var param2 = avgBizInCompany;
        var param3 = avgTotal;
        var param4 = avgSMCompany;

        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ','
            }
        });


        chart = new Highcharts.Chart({
            chart: {
                type: 'column',
                renderTo: divName,
                margin: [10, 0, 25, 50],
                spacingTop: 0,
                //spacingBottom: 0,
                //spacingLeft: 0,
                spacingRight: 0
            },
            exporting: {                    // highcharts context menu 제거
                buttons: {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                style: {
                    display: 'none'
                }
            },
            xAxis: {
                type: 'category',
                gridLineWidth: 1
            },
            yAxis: {
                gridLineWidth: 0,
                title: {
                    style: {
                        display: 'none'
                    }
                },
                labels: {
                    enabled: true
                },
            },
            legend: {
                enabled:false
            },
            tooltip: { enabled: false },

            series: [{
                upColor: Highcharts.getOptions().colors[2],
                color: Highcharts.getOptions().colors[3],
                pointWidth: 35,
                enableMouseTracking: false,
                data: [{
                    name: "해당기업",
                    y: param1
                }, {
                    name: "참여기업평균",
                    y: param2
                }, {
                    name: "전체평균",
                    y: param3
                }, {
                    name: "중소기업 평균",
                    y: param4
                }],
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return Highcharts.numberFormat(this.y, point, '.') + unit;
                    },
                    style: {
                        color: '#000000',
                        fontWeight: 'bold'//,
                        //textShadow: '0px 0px 3px black'
                    }
                },
                pointPadding: 0
            }]
        });
    }
</script>
@Styles.Render("~/css/print")
@Scripts.Render("~/bundles/highcharts")

<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_03">
        <em>기초경영역량 보고서</em>
    </div>

    <div id="report_wm_step">
        <!--STEP 아이콘-->
        <ul>
            <li class="basic_report01"><a href="@Url.Action("CompanyInfo","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP01.역량검토 결과 요약</em></a></li>
            <li class="basic_report02 on"><a href="@Url.Action("OverallResultCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP02.기초역량검토 종합결과</em></a></li>
            <li class="basic_report03">
                @if (ViewBag.paramModel.Status as string == "C")
                {
                    <a href="@Url.Action("GrowthRoadMapCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP03.성장로드맵 제안</em></a>
                }
                else
                {
                    <em>STEP03.성장로드맵 제안</em>
                }
            </li>
        </ul>
    </div>
@using (Html.BeginForm("ProductivityProfitability", "BasicSurveyReport", FormMethod.Post, new { area = "", @class = "form-horizontal", role = "form", id = "mainForm" }))
{
    @Html.HiddenFor(model => model.SubmitType, new { @id = "submitType" })
    @Html.Hidden("BizWorkSn", ViewBag.paramModel.BizWorkSn as string)
    @Html.Hidden("CompSn", ViewBag.paramModel.CompSn as string)
    @Html.Hidden("BizWorkYear", ViewBag.paramModel.BizWorkYear as string)
    @Html.Hidden("QuestionSn", ViewBag.paramModel.QuestionSn as string)
    @Html.Hidden("Status", ViewBag.paramModel.Status as string)
    <div class="sub_report_checkbox">
        <div class="report_main_top2"></div>
        <div class="report_main_mid">
            <div class="main_mid_cont">
                <p class="title_mid">
                    Ⅱ. 기초역량검토 종합결과 _ <span class="small_span float_right">
                        역량별
                        검토결과
                    </span>
                </p>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox">

                    <div class="listBox_tap longbg_on noline">
                        <span>(2)상품화역량</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="60%">
                        </colgroup>
                        <tr>
                            <td class="left_memo">역량 검토 항목</td>
                            <td>
                                <span class="span_weak">□ 기초역량 평가</span> <span class="span_on">□ 재무지표 평가</span> <span class="span_weak">
                                    □
                                    전문가 평가
                                </span>
                            </td>
                            <td class="center_td">
                                <div class="label_td">수익성, 성장성</div> <span class="label_span">
                                    상품화역량이 우수한 기업들은 결과적으로 매출대비 수익이
                                    높아지게 되며, 상품경쟁력을 통해 중장기적으로 성장률이 높아지게 됩니다. 본 항목에서는 이들 재무지표를
                                    통해 회사의 상품화역량을 점겁합니다.
                                </span>
                            </td>
                        </tr>


                    </table>
                </div>

            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on full_line">
                        <span>수익성</span>
                    </div>
                    <div class="listBox_title top_padding">
                        <span class="big_span">매출 영업이익률 _</span><span class="small_span">
                            기업의 영업이익율은 상품역량을 측정하는 기본지표로서 경쟁상품이
                            많을수록 상품역량이 떨어지므로 매출 영업이익감소로 연동되어 상품역량을 측정하는 기본지표로 판단함.
                        </span>
                    </div>
                    <div class="index_left">
                        <div class="index_left_title">
                            <span>측정지표</span>
                        </div>
                        <div class="index_left_mid multi" style="padding-top: 14px">
                            <span>
                                매출영업<br> 이익률 = <br>(@Model.Profitability.Result)
                            </span>
                        </div>
                        <div class="index_right_mid multi">
                            <span class="right_mid_top">
                                영업이익<br>(@Model.Profitability.Dividend)
                            </span> <span class="right_mid_bot">
                                매출<br>(@Model.Profitability.Divisor)
                            </span>
                        </div>
                        <div class="index_right_multi">X 100</div>
                    </div>
                    <div id="Profitability" class="index_chart h_109">
                        <!-- 차트가 표시되는 부분 -->
                    </div>
                </div>

            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on">
                        <span>검토결과</span>
                    </div>
                    @Html.TextAreaFor(model => model.CommentList[0].Comment, new { @id = "comment0", @class = "bot_textarea w_short", @placeholder = "300자 내로 작성하시기 바랍니다." })
                    @Html.HiddenFor(model => model.CommentList[0].DetailCd)
                </div>

            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on full_line">
                        <span>성장성</span>
                    </div>
                    <div class="listBox_title top_padding">
                        <span class="big_span">매출 증가율 _</span><span class="small_span">
                            기업매출의
                            증가율은 시장점유율의 확대 및 성장을 의미 함으로서 경쟁상품에 대한 자사기업의 상품역량을 판단함.
                        </span>
                    </div>
                    <div class="index_left">
                        <div class="index_left_title">
                            <span>측정지표</span>
                        </div>
                        <div class="index_left_mid multi" style="padding-top: 27px">
                            <span>
                                매출<br> 증가율 = <br>(@Model.Growth.Result)
                            </span>
                        </div>
                        <div class="index_right_mid multi">
                            <span class="right_mid_top">
                                (당기-전기)<br>매출액<br>(@Model.Growth.Dividend)
                            </span> <span class="right_mid_bot">
                                전기<br>매출액<br>(@Model.Growth.Divisor)
                            </span>
                        </div>
                        <div class="index_right_multi2">X 100</div>
                    </div>
                    <div id="Growth" class="index_chart h_136">
                        <!-- 차트가 표시되는 부분 -->
                    </div>
                </div>

            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on">
                        <span>검토결과</span>
                    </div>
                    @Html.TextAreaFor(model => model.CommentList[1].Comment, new { @id = "comment1", @class = "bot_textarea w_short", @placeholder = "300자 내로 작성하시기 바랍니다." })
                    @Html.HiddenFor(model => model.CommentList[1].DetailCd)
                </div>

            </div>
        </div>
    </div>
    <!--container//-->
    <div id="btnwrap_sub" class="bottom_left2">

        <div class="rightwrap left">
            <a href="@Url.Action("ProductivityMgmtCustomer", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="pre left" value="이전"><em>이전</em></a>

        </div>
        <div class="rightwrap right">
            @if (ViewBag.paramModel.Status != "C")
            {
                <button type="button" class="next" onclick="goSubmit('N');" value="다음" />
            }
            else
            {
                <a href="@Url.Action("ProductivityTargetCustomer", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="next right" value="다음"><em>다음</em></a>
            }
        </div>
        @if (ViewBag.paramModel.Status != "C")
        {
            <div class="rightwrap centerwrap">
                <button type="button" class="write_save" onclick="goSubmit('T');" value="임시저장" />
            </div>
        }
    </div>
}
</div>