@model BizOneShot.Light.Models.ViewModels.RndEmpViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz >  a.navi_report').addClass('on');
        //Cs menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_basicReport').addClass('on');

        $('#mainForm').bind('submit', function () {

            var valid = true;
            if ($('#submitType').val() == "N") {

                $('textarea[id^="comment"]').each(function () {
                    if ($(this).val().length == 0 && valid == true) {
                        alert("필수항목을 입력해 주세요");
                        $(this).focus();
                        valid = false;

                        return false;
                    }
                });
                return valid;
            }

        });

        if ($('#Status').val() == "C") {
            $('#mainForm input').attr('disabled', true);
            $('#mainForm textarea').attr('disabled', true);
        }
    });

    function goSubmit(submitType) {
        $('#submitType').val(submitType);
        $('#mainForm').submit();
    }
</script>
@Styles.Render("~/css/print")
<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_03">
        <em>기초경영역량 보고서</em>
    </div>

    <div id="report_wm_step">
        <!--STEP 아이콘-->
        <ul>
            <li class="basic_report01"><a href="@Url.Action("CompanyInfo","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP01.역량검토 결과 요약</em></a></li>
            <li class="basic_report02 on"><a href="@Url.Action("OverallResultCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP02.기초역량검토 종합결과</em></a></li>
            <li class="basic_report03">
                @if (ViewBag.paramModel.Status as string == "C")
                {
                    <a href="@Url.Action("GrowthRoadMapCover","BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="ablock"><em>STEP03.성장로드맵 제안</em></a>
                }
                else
                {
                    <em>STEP03.성장로드맵 제안</em>
                }
            </li>
        </ul>
    </div>
@using (Html.BeginForm("RndEmp", "BasicSurveyReport", FormMethod.Post, new { area = "", @class = "form-horizontal", role = "form", id = "mainForm" }))
{
    @Html.HiddenFor(model => model.SubmitType, new { @id = "submitType" })
    @Html.Hidden("BizWorkSn", ViewBag.paramModel.BizWorkSn as string)
    @Html.Hidden("CompSn", ViewBag.paramModel.CompSn as string)
    @Html.Hidden("BizWorkYear", ViewBag.paramModel.BizWorkYear as string)
    @Html.Hidden("QuestionSn", ViewBag.paramModel.QuestionSn as string)
    @Html.Hidden("Status", ViewBag.paramModel.Status as string)
    <div class="sub_report_checkbox">
        <div class="report_main_top2"></div>
        <div class="report_main_mid">
            <div class="main_mid_cont">
                <p class="title_mid">
                    Ⅱ. 기초역량검토 종합결과 _ <span class="small_span float_right">
                        역량별
                        검토결과
                    </span>
                </p>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox">

                    <div class="listBox_tap longbg_on noline">
                        <span>(2)상품화역량</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="60%">
                        </colgroup>
                        <tr>
                            <td class="left_memo">역량 검토 항목</td>
                            <td>
                                <span class="span_on">□ 기초역량 평가</span> <span class="span_weak">□ 재무지표 평가</span> <span class="span_weak">
                                    □
                                    전문가 평가
                                </span>
                            </td>
                            <td class="center_td">
                                <div class="label_td">기술경영</div> <span class="label_span"></span>
                            </td>
                        </tr>


                    </table>
                </div>

            </div>
            <div class="main_mid_cont">
                <p class="full_p">
                    <span class="big_span">연구개발 인력의 비율 _</span><span class="small_span">연구개발 인력의 구성비율 및 석사급 이상 인력의 비율</span>
                </p>
                <div class="explainBox">
                    <div class="label_ex">
                        <p class="ex_p">
                            <span>•</span>연구개발투자가 기업의 미래 성장잠재력을 결정한다는 사실은 앞서의 지표인
                            ‘연구개발투자’에서 본 바와 같습니다.
                        </p>
                        <p class="ex_p">
                            <span>•</span>연구개발투자의 투입원천 성격이 ‘자본(K)’이라면 연구개발을 수행하는 인력의 투입원천
                            성격은 ‘노동(L)’입니다.
                        </p>
                        <p class="ex_p">
                            <span>•</span>기술 경영을 위한 연구개발 인프라는 위의 두 가지 요소라고 할 수 있으므로
                            ‘연구개발투자’와 함께 인력 자체에 대해서도 평가할 필요가 있습니다.
                        </p>
                        <p class="ex_p">
                            <span>•</span>‘노동(L)'요소 즉 인력 수준을 평가할 때 양(quantity)과
                            질(quality) 두 가지 면에서 평가할 수 있습니다. <br>(참고로 ‘자본(K)’ 요소인 경우엔
                            금액으로 표시되는 양(quantity) 밖에 없습니다)
                        </p>
                        <p class="ex_p">
                            <span>•</span>이를 위한 양(quantity)을 측정하기 위한 지표인 연구개발인력 구성비율은
                            연구개발 인적자원에 대해 전체 임직원과 상대비교한 지표입니다.
                        </p>
                        <p class="ex_p bot_padding">
                            <span>•</span>연구개발인력의 질(quality)을 측정하기 위해서 전체 연구개발 인력중 석사급 이상
                            인력의 비율을 측정하여 표시합니다. 석사급 이상은 관련 분야 석사 혹은 관련 분야에 종사한지 6년 이상된
                            연구인력을 의미합니다.
                        </p>

                    </div>
                </div>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <table class="capacity_table">
                        <colgroup>
                            <col width="11%">
                            <col width="11%">
                            <col width="13%">
                            <col width="13%">
                            <col width="13%">
                            <col width="13%">
                            <col width="13%">
                            <col width="13%">
                        </colgroup>
                        <tr>
                            <td class="left_memo ">구분</td>
                            <td class="left_memo">해당기업</td>
                            <td class="left_memo">
                                창업보육<br>단계 평균
                            </td>
                            <td class="left_memo">
                                보육성장<br> 단계 평균
                            </td>
                            <td class="left_memo">
                                자립성장<br> 단계 평균
                            </td>
                            <td class="left_memo">
                                참여<br>기업평균
                            </td>
                            <td class="left_memo">전체평균</td>
                            <td class="left_memo">
                                중소기업<br>평균
                            </td>
                        </tr>
                        <tr>
                            <td class="center_td center">
                                연구개발<br>인력의 비율
                            </td>
                            <td class="center_td center">@Model.rndEmpRatio.Company%</td>
                            <td class="center_td center">@Model.rndEmpRatio.StartUpAvg%</td>
                            <td class="center_td center">@Model.rndEmpRatio.GrowthAvg%</td>
                            <td class="center_td center">@Model.rndEmpRatio.IndependentAvg%</td>
                            <td class="center_td center">@Model.rndEmpRatio.BizInCompanyAvg%</td>
                            <td class="center_td center">@Model.rndEmpRatio.TotalAvg%</td>
                            <td class="center_td center">-</td>
                        </tr>
                        <tr>
                            <td class="center_td center">
                                연구개발<br>인력 중<br>석사급<br>이상
                                비율
                            </td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.Company%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.StartUpAvg%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.GrowthAvg%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.IndependentAvg%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.BizInCompanyAvg%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.TotalAvg%</td>
                            <td class="center_td center">@Model.rndEmpLevelRatio.SMCompanyAvg%</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="main_mid_cont fix_bot list_print">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap bg_on">
                        <span>검토결과</span>
                    </div>
                    @Html.TextAreaFor(model => model.CommentList[0].Comment, new { @id = "comment0", @class = "bot_textarea", @placeholder = "500자 내로 작성하시기 바랍니다." })
                    @Html.HiddenFor(model => model.CommentList[0].DetailCd)
                </div>

            </div>
        </div>
    </div>
    <!--container//-->
    <div id="btnwrap_sub" class="bottom_left2">

        <div class="rightwrap left">
            <a href="@Url.Action("RndCost", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="pre left" value="이전"><em>이전</em></a>

        </div>
        <div class="rightwrap right">
            @if (ViewBag.paramModel.Status != "C")
            {
                <button type="button" class="next" onclick="goSubmit('N');" value="다음" />
            }
            else
            {
                <a href="@Url.Action("ProductivityCommercialize", "BasicSurveyReport", new { area = "", BizWorkSn = ViewBag.paramModel.BizWorkSn, CompSn = ViewBag.paramModel.CompSn, BizWorkYear = ViewBag.paramModel.BizWorkYear, Status = ViewBag.paramModel.Status, QuestionSn = ViewBag.paramModel.QuestionSn })" class="next right" value="다음"><em>다음</em></a>
            }
        </div>
        @if (ViewBag.paramModel.Status != "C")
        {
            <div class="rightwrap centerwrap">
                <button type="button" class="write_save" onclick="goSubmit('T');" value="임시저장" />
            </div>
        }
    </div>
}
</div>