@model IList<BizOneShot.Light.Models.ViewModels.RegCommentViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>세무회계사의 코멘트 조회 팝업</title>
    <link rel="stylesheet" href="../css/pop.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body>
    <div id="popup_wrapper">
        <div id="popup_headerwrap">
            <div class="header">
                <span class="title">담당 세무회계사의 코멘트</span>
            </div>
        </div><!--popup_headerwrap//-->
        @if (Model == null || Model.Count == 0)
        {
            <div id="popup_contwrap">
                <div class="textwrap margin_b10">
                    <p>코멘트가 없습니다.</p>
                </div><!--popup_btnwrap//-->
            </div><!--popup_contwrap//-->
        }
        else
        {
            foreach (var item in Model)
            {
                <div id="popup_contwrap">
                    <div class="textwrap margin_b10">
                        <p><span class="bold">사업명 : </span>@item.BizWorkNm / <span class="bold">작성자 : </span>@item.ExpertNm / <span class="bold">작성일자 : </span>@item.WriteDt.Value.ToString("yyyy-MM-dd") </p>
                    </div><!--popup_btnwrap//-->
                    <div class="box_read">
                        <p>@item.Comment</p>
                    </div>

                </div><!--popup_contwrap//-->
            }
        }

        <div id="popup_btnwrap">
            <button type="button" class="pop_confirm" value="확인" onClick="self.close()"></button>
        </div>
    </div><!--popup_wrapper//-->

    @*<div id="popup_footwrap"></div>*@

</body>
</html>
