@model BizOneShot.Light.Models.ViewModels.JoinExpertViewModel
@using BizOneShot.Light.Models.ViewModels

@{
    Layout = "~/Areas/Expert/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_expert04').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_MyInfo').addClass('on');
    });
</script>
<div id="sub_rightwrap">
    <div class="sub_right_title biz050101"><em>내정보관리</em></div>

    <div class="tablewrap">
        <table>
            <!--사업명-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>아이디</th>
                <td>@Model.LoginId</td>
            </tr>
        </table>
        <div class="line_dot10"></div>
        <table>
            <!--사업명-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>사업관리기관</th>
                <td>@Model.BizMagComName</td>
            </tr>
            <tr>
                <th>사업명</th>
                <td>@Model.BizWorkNm</td>
            </tr>
        </table>
        <div class="line_dot10"></div>
        <table>
            <!--이름 외-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>*전문분야</th>
                @if (@Model.UsrTypeDetail == "T")
                {
                    <td>세무회계</td>
                }
                else if (@Model.UsrTypeDetail == "L")
                {
                    <td>법무</td>
                }
                else if (@Model.UsrTypeDetail == "W")
                {
                    <td>노무</td>
                }
                else if (@Model.UsrTypeDetail == "P")
                {
                    <td>특허</td>
                }
                else if (@Model.UsrTypeDetail == "M")
                {
                    <td>마케팅</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <th>*이름</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>*전화번호</th>
                <td>@Model.TelNo</td>
            </tr>
            <tr>
                <th>*휴대폰</th>
                <td>@Model.MbNo</td>
            </tr>
            <tr>
                <th>*이메일 주소</th>
                <td>@Model.Email</td>
            </tr>
        </table>

        <div class="line_dot10"></div>
        <table>
            <!--담당자 외-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>회사명</th>
                <td>@Model.CompNm</td>
            </tr>
            <tr>
                <th>대표자명</th>
                <td>@Model.ComOwnNm</td>
            </tr>
            <tr>
                <th>사업자등록번호</th>
                <td>@Model.ComRegistrationNo</td>
            </tr>
            <tr>
                <th>업태 / 종목</th>
                <td colspan="5" class="nopad">
                    <div id="list_downwrap">
                        <ul>
                            @if (Model.BizTypes == null || Model.BizTypes.Count == 0)
                            {
                                <li>
                                    <span>검색결과가 없습니다.</span>
                                </li>
                            }
                            else
                            {
                                foreach (var item in Model.BizTypes)
                                {
                                    <li>
                                        <span>@item.BizTypeCd</span><span> / </span><span>@item.BizTypeNm</span>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>@Model.ComTelNo</td>
            </tr>
            <tr>
                <th>주소</th>
                <td>(@Model.ComPostNo) @Model.ComAddr1 @Model.ComAddr2</td>
            </tr>
            <tr>
                <!--첨부파일1개일때-->
                <th>이력서</th>
                <td colspan="4" class="nopad">
                    <div id="file_downwrap">
                        <ul>
                            <li>
                                @if (string.IsNullOrEmpty(Model.ResumeName))
                                {
                                    <span>이력서 없음</span>
                                }
                                else
                                {
                                    <span><a href="@Url.Action("DownloadResumeFile", new FileInfoViewModel { FileNm = Model.ResumeName, FilePath = Model.ResumePath })" class="file_open">@Model.ResumeName</a></span>
                                }
                            </li>
                         </ul>
                    </div>
                </td>
            </tr><!--첨부파일1개일때 끝-->
        </table>


    </div><!--tablewrap//-->
    <div id="btnwrap_sub">
        <a href="@Url.Action("ModifyMyInfo","Main")" class="modify right"><em>수정</em></a>
    </div><!--btnwrap//-->

</div><!--sub_rightwrap//-->