@model BizOneShot.Light.Models.ViewModels.CompanyMngViewModel

@{
    Layout = "~/Areas/BizManager/Views/Shared/_MainLayout.cshtml";
}


<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_business02').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gbn_CompanyList').addClass('on');

        $('#MentorLoginId').change(function () {
            var loginId = $('#MentorLoginId').val();

            if (loginId == null || loginId == "")
            {
                $('#MentorTelNo').val("");
                $('#MentorMbNo').val("");
                $('#MentorEmail').val("");
                return;
            }

            $.ajax({
                type: "post",
                url: '@Url.Action("GetMentor", "CompanyMng")',
                dataType: "json",
                data: {
                    MentorID: loginId
                },
                success: function (result) {
                    if (result != null) {
                        $('#MentorTelNo').val(result.TelNo);
                        $('#MentorMbNo').val(result.MbNo);
                        $('#MentorEmail').val(result.Email);
                    }
                    else
                    {
                        $('#MentorTelNo').val("");
                        $('#MentorMbNo').val("");
                        $('#MentorEmail').val("");
                    }
                },
                fail: function (error) {
                    alert('error :' + error.responseText);
                }
            });
        });

        $('#MentorLoginId').ready(function () {
            var loginId = $('#MentorLoginId').val();
            //alert(loginId);
        });

        $('#submit_form').bind('submit', function () {
            if (!confirm('기업회원 승인을 완료하시겠습니까?')) {
                return false;
            }
        });
    });


</script>

<div id="sub_rightwrap">
    <div class="sub_right_title approve01"><em>기업승인관리</em></div>

    @using (Html.BeginForm("ApproveCompany", "CompanyMng", FormMethod.Post, new { area = "BizManager", @class = "form-horizontal", role = "form", id= "submit_form" }))
    {
        @Html.HiddenFor(model => model.BizWorkSn)
        @Html.HiddenFor(model => model.CompSn)
        <div class="tablewrap">
            <table>
                <!--아이디-->
                <colgroup>
                    <col width="160px" />
                    <col width="587px" />
                </colgroup>
                <tr>
                    <th>
                        회사명 : @Model.CompNm
                        <span class="business_name">사업명 : @Model.BizWorkNm</span>
                    </th>

                </tr>
            </table>
            <div class="line_dot10"></div>
            <table>
                <!--사업자명 외-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>대표자명</th>
                    <td>@Model.OwnNm</td>
                </tr>
                <tr>
                    <th>사업자등록번호</th>
                    <td>@Model.RegistrationNo</td>
                </tr>
                <tr>
                    <th>업태 / 종목</th>
                    <td colspan="5" class="nopad">
                        <div id="list_downwrap">
                            <ul>
                                @if (Model.BizTypes == null || Model.BizTypes.Count == 0)
                                {
                                    <li>
                                        <span>검색결과가 없습니다.</span>
                                    </li>
                                }
                                else
                                {
                                    foreach (var item in Model.BizTypes)
                                    {
                                        <li>
                                            <span>@item.BizTypeCd</span><span> / </span><span>@item.BizTypeNm</span>
                                        </li>
                                    }
                                }

                            </ul>
                            @*<ul>
                                <li>
                                    <span>서비스</span><span> / </span><span>서비스</span>
                                </li>
                                <li>
                                    <span>서비스</span><span> / </span><span>서비스</span>
                                </li>
                                <li>
                                    <span>서비스</span><span> / </span><span>서비스</span>
                                </li>
                                <li>
                                    <span>서비스</span><span> / </span><span>서비스</span>
                                </li>
                                <li>
                                    <span>서비스</span><span> / </span><span>서비스</span>
                                </li>
                            </ul>*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>본사주소</th>
                    <td>(@Model.PostNo) @Model.Addr1 @Model.Addr2</td>
                </tr>
            </table>
            <div class="line_dot10"></div>
            <table>
                <!--담당자명 외-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>담당자명</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>@Model.TelNo</td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td>@Model.MbNo</td>
                </tr>
                <tr>
                    <th>이메일 주소</th>
                    <td>@Model.Email</td>
                </tr>
            </table>
            <div class="line_dot10"></div>
            <table>
                <!--담당자명 외-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>담당멘토</th>
                    <td>
                        @{
                            if (ViewBag.SelectMentorList != null)
                            {
                                @Html.DropDownListFor(model => model.MentorLoginId, ViewBag.SelectMentorList as SelectList, new { @class = "w250" });
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        @Html.TextBoxFor(model => model.MentorTelNo, new { @class = "w120", @id = "MentorTelNo", @name = "MentorTelNo", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td>
                        @Html.TextBoxFor(model => model.MentorMbNo, new { @class = "w120", @id = "MentorMbNo", @name = "MentorMbNo", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <th>이메일 주소</th>
                    <td>
                        @Html.TextBoxFor(model => model.MentorEmail, new { @class = "w120", @id = "MentorEmail", @name = "MentorEmail", @readonly = "readonly" })
                    </td>
                </tr>
            </table>

        </div><!--tablewrap//-->


                            <div id="btnwrap_sub">
                                <a href="@Url.Action("CompanyList", "CompanyMng")" class="list2 right"><em>목록</em></a>
                                <button type="submit" class="approve right" value="승인"></button>
                            </div>
                            }

</div><!--sub_rightwrap//-->
