@model BizOneShot.Light.Models.ViewModels.BizInCompanyStatsViewModel
@{
    Layout = "~/Areas/BizManager/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_business01').addClass('on');
        //left menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_CompanyStats').addClass('on');

        $('#BizWorkSn').change(function () {
            ChangeBizWork();
        });

        $('#submit_form').bind('submit', function () {
            if ($('#BizWorkSn').val() == "0") {
                alert("사업을 하지 않았습니다.");
                return false;
            }

            if ($('#StartYear').val() == "0") {
                alert("시작 년을 선택을 하지 않았습니다.");
                return false;
            }


            if ($('#EndYear').val() == "0") {
                alert("종료 년을 선택을 하지 않았습니다.");
                return false;
            }


            var startDate = $('#StartYear').val();
            var endDate = $('#EndYear').val();

            if (startDate > endDate)
            {
                alert("종료 년도가 시작 년도보다 빠를 수는 없습니다.");
                return false;
            }
        });
    });

    function ChangeBizWork() {

        var bizWorkSn = $('#BizWorkSn').val();
        if (bizWorkSn == 0) {
            $('#StartYear').html("<option value='0'>년도선택</option>");
            $('#EndYear').html("<option value='0'>년도선택</option>");
        } else {
            $('#StartYear').html("");
            $('#EndYear').html("");
            $.ajax({
                url: '@Url.Action("GetYear", "Report", new { area = "BizManager" })',
                type: "post",
                dataType: "json",
                data: { BizWorkSn: bizWorkSn },
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#StartYear').append("<option value='" + result[i].Value + "'>" + result[i].Text + "</option>");
                        $('#EndYear').append("<option value='" + result[i].Value + "'>" + result[i].Text + "</option>");
                    }
                }
            });
        }
    }

    /* if (window.print) {
      document.write('<form><input type=button name=print value="Print" onClick="window.print()"></form>');
  }
  */
</script>

@Styles.Render("~/css/print")

<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_05">
        <em>기업별 통계</em>
    </div>
    <div id="tabswrap_three" class="tab03">
        <!--분기별 조회 목록 탭-->
        <ul>
            <li><a href="@Url.Action("CompanyMonthlyStats","Report",new { area= "BizManager" })">월</a></li>
            <li><a href="@Url.Action("CompanyQuarterlyStats","Report",new { area= "BizManager" })">분기</a></li>
            <li><a href="@Url.Action("CompanyYearlyStats","Report",new { area= "BizManager" })" class="on">연간</a></li>
        </ul>
    </div>
@using (Html.BeginForm("CompanyYearlyStats", "Report", FormMethod.Post, new { area = "BizManager", @class = "form-horizontal", role = "form", id = "submit_form" }))
{
    <div id="sub_inquiry_box">
        @Html.DropDownList("BizWorkSn", ViewBag.SelectBizWorkList as SelectList, new { @class = "w150", @id = "BizWorkSn" })
        <span class="noti_fo left_m">조회기간</span>
        @Html.DropDownList("StartYear", ViewBag.SelectStartYearList as SelectList, new { @class = "w80", @id = "StartYear" })
        <span class="noti_fo">~ </span>
        @Html.DropDownList("EndYear", ViewBag.SelectEndYearList as SelectList, new { @class = "w80", @id = "EndYear" })
        <button type="submit" class="bt_searchC" value="검색">검색</button>
    </div>
}
<!--sub_inquiry_box//-->
@if (Model != null && Model.Display == "Y")
{
    <div class="sub_report_checkbox">
        <div class="report_main_top2 noline">

            <div class="title_medium center top_padding bot_padding">기업별통계(연간)</div>
        </div>


        <div class="report_main_mid margin_t50">
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap longbg_on noline_a intend_10">
                        <span>사업명</span>
                        <text class="left_memo bold line_h22">@Model.BizWorkNm</text>
                    </div>
                </div>
            </div>
        </div>

        <div class="report_main_mid">
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap longbg_on noline_a intend_10">
                        <span>사업기간</span>
                        <text class="left_memo bold line_h22">@Model.BizWorkStDt.GetValueOrDefault().ToShortDateString() ~ @Model.BizWorkEdDt.GetValueOrDefault().ToShortDateString()</text>
                    </div>
                </div>
            </div>
        </div>

        <div class="report_main_mid">
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap longbg_on noline_a intend_10">
                        <span>통계산출기간</span>
                        <text class="left_memo bold line_h22">@Model.StartYear ~ @Model.EndYear</text>
                    </div>
                </div>
            </div>
        </div>
        <div class="report_main_mid">
            <div class="main_mid_cont">
                <div class="main_mid_listBox nomargin2">
                    <div class="listBox_tap longbg_on noline_a">
                        <span>기업별 통계(분기)</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="26%">
                            <col width="13%">
                            <col width="15%">
                            <col width="16%">
                            <col width="18%">
                            <col width="10%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="left_memo">기   업</td>
                                <td class="left_memo">기간 매출 합</td>
                                <td class="left_memo">기간 연<br>평균 매출<br></td>
                                <td class="left_memo">종료 년도 매출</td>
                                <td class="left_memo">종료 년도<br>전년 매출<br></td>
                                <td class="left_memo">고용인원</td>
                            </tr>
                            @if (Model == null || Model.compnayStatsListViewModel.Count == 0)
                            {
                                <tr>
                                    <td colspan="6" style="text-align:center;">사업에 참여한 기업이 없습니다.</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.compnayStatsListViewModel)
                                {
                                    <tr>
                                        <td class="center_td">@item.CompNm</td>
                                        <td class="center_td">
                                            @item.SumSales<text style="font-size:9px">천원</text>
                                        </td>
                                        <td class="center_td">
                                            @item.AvgSales<text style="font-size:9px">천원</text>
                                        </td>
                                        <td class="center_td">
                                            @item.LastSales<text style="font-size:9px">천원</text>
                                        </td>
                                        <td class="center_td">
                                            @item.BeforeSales<text style="font-size:9px">천원</text>
                                        </td>
                                        <td class="center_td">
                                            @item.CntEmploy<text style="font-size:9px">명</text>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="btnwrap_sub">
        <div class="rightwrap right">
            <button class="print" value="출력" onclick="window.print()" />
            @*<button class="print" value="출력"  onclick="alert('차후 오픈 예정 입니다.')"/>*@
        </div>

    </div>
}
</div>