@model IPagedList<BizOneShot.Light.Models.ViewModels.MentoringReportViewModel>

@{
    Layout = "~/Areas/BizManager/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_business01').addClass('on');
        //left menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_mentoringReportList').addClass('on');

     

        //드롭다운리스트 처리
        $('#BizWorkYear').change(function () {
            $('#curPage').val(1);

            var bizWorkYear = $('#BizWorkYear').val();

            $('#BizWorkSn').attr("disabled", false);
            $('#BizWorkSn').html("");
          
            $.ajax({
                url: '@Url.Action("getBizWork", "Report")',
                type: "post",
                dataType: "json",
                data: { bizWorkYear: bizWorkYear },
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#BizWorkSn').append("<option value='" + result[i].BizWorkSn + "'>" + result[i].BizWorkNm + "</option>");
                    }
                }
            });

        });

        $('#BizWorkSn').change(function () {
            $('#curPage').val(1);

            var bizWorkYear = $('#BizWorkYear').val();
            var bizWorkSn = $('#BizWorkSn').val();

            $('#CompSn').attr("disabled", false);
            $('#CompSn').html("");
            $.ajax({
                url: '@Url.Action("getBizComp", "Report")',
                type: "post",
                dataType: "json",
                data: { bizWorkSn: bizWorkSn, bizWorkYear: bizWorkYear },
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#CompSn').append("<option value='" + result[i].CompSn + "'>" + result[i].CompNm + "</option>");
                    }
                }
            });

        });

        $('#CompSn').change(function () {
            $('#curPage').val(1);
        });

    });

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>



<div id="sub_rightwrap">
    <div class="sub_right_title bizadmin_01_04"><em>멘토링 일지 현황</em></div>

    <div id="tabswrap" class="tab01">
        <!--기업별 멘토별 목록 탭-->
        <ul>
            <li><a href="@Url.Action("MentoringReportListByComp", "Report",new { area= "BizManager"})" class="on">기업별</a></li>
            <li><a href="@Url.Action("MentoringReportListByMentor", "Report",new { area= "BizManager"})">멘토별</a></li>
        </ul>
    </div>

    @using (Html.BeginForm("MentoringReportListByComp", "Report", FormMethod.Post, new { area = "BizManager", id = "searchForm" }))
    {
        <div id="sub_inquiry_box">

            @Html.DropDownList("BizWorkYear", ViewBag.SelectBizWorkYearList as SelectList, new { @class = "w130", @id = "BizWorkYear" })
            @Html.DropDownList("BizWorkSn", ViewBag.SelectBizWorkList as SelectList, new { @class = "w150" , @id = "BizWorkSn" })
            @Html.DropDownList("CompSn", ViewBag.SelectCompInfoList as SelectList, new { @class = "w150", @id = "CompSn" })
          
            <button type="submit" class="bt_report_present" value="현황 보고서">조회</button>
        </div><!--sub_inquiry_box//-->
        @Html.Hidden("curPage", "1")
    }
    <div class="line_dot20"></div>

    <form method="" action="" name="" id="">
        <div class="tablewrap">
            <!--목록-->
            <table class="admin_list">
                <caption>멘토링 일지 조회 목록</caption>
                <colgroup>
                    <col width="17%">
                    <col width="17%">
                    <col width="12%">
                    <col width="15%">
                    <col width="12%">
                    <col width="27%">
                </colgroup>
                <tr>
                    <th class="topcen">사업</th>
                    <th class="topcen">기업</th>
                    <th class="topcen">멘토</th>
                    <th class="topcen">멘토링 일자</th>
                    <th class="topcen">분야</th>
                    <th class="topcen">멘토링 주제</th>
                </tr>

                @if (Model == null || Model.TotalItemCount == 0)
                {
                    <tr>
                        <td colspan="7" style="text-align:center;">검색 결과가 없습니다.</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BizWorkNm</td>
                            <td>@item.CompNm</td>
                            <td>@item.MentorNm</td>
                            <td>@item.MentoringDt.Value.ToString("yyyy-MM-dd")</td>
                            <td>@item.MentorAreaNm</td>
                            <td>
                                <span class="blue">@Html.ActionLink(item.MentoringSubject.Length > 14 ? item.MentoringSubject.Substring(0, 14) + " .." : item.MentoringSubject, "MentoringReportDetail", new { reportSn = item.ReportSn, BizWorkYear = ViewBag.SelectParam.BizWorkYear, BizWorkSn = ViewBag.SelectParam.BizWorkSn, CompSn = ViewBag.SelectParam.CompSn, searchType = "Comp" }, new { @style = "text-decoration:underline;" })</span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div><!--tablewrap//-->

        @if (Model != null && Model.TotalItemCount != 0)
        {
            @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)
        }

    </form>

</div><!--sub_rightwrap//-->