@model BizOneShot.Light.Models.ViewModels.MentoringTotalReportViewModel

@{
    Layout = "~/Areas/BizManager/Views/Shared/_MainLayout.cshtml";
}


<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_business01').addClass('on');
        //left menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_mentoringTotalReportList').addClass('on');
    });
</script>

<div id="sub_rightwrap">
    <div class="sub_right_title mentor_01_04_02"><em>멘토링 종합보고서 상세</em></div>

    <div class="tablewrap">
        <table>
            <!--사업명-->
            @*<colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>*@

            <colgroup>
                <col width="100px" />
                <col width="260px" />
                <col width="100px" />
                <col width="150px" />
                <col width="140px" />
            </colgroup>
            <tr>
                <th>사업명</th>
                <td colspan="4">@Model.BizWorkNm</td>
            </tr>
            <tr>
                <th>기업명</th>
                <td colspan="4">@Model.CompNm</td>
            </tr>
            <tr>
                <th>제출일</th>
                <td colspan="4">@Model.SubmitDt.Value.ToString("yyyy-MM-dd")</td>
            </tr>
                
            @if (Model.FileContents.Count == 1)
            { 
                <tr>
                    <!--첨부파일1개일때-->
                    <th>첨부파일</th>
                    <td colspan="4" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                <li><span>@Model.FileContents[0].FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReportFile", Model.FileContents[0])';" value="다운로드"></button></li>
                            </ul>
                        </div>
                    </td>
                </tr><!--첨부파일1개일때 끝-->
            }
            else if (Model.FileContents.Count > 1)
            {
                <tr>
                    <!--첨부파일2개이상일때-->
                    <th>첨부파일</th>
                    <td colspan="3" class="nopad">
                        <div id="file_downwrap">
                            <ul>
                                @foreach (var item in Model.FileContents)
                                {
                                    @*<li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DocumentDownload", new { fileSn = @item.FileSn })';" value="다운로드"></button></li>*@

                                    <li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReportFile", item)';" value="다운로드"></button></li>

                                }
                            </ul>
                        </div>
                    </td>
                    <td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadTRReportFileMulti", new { totalReportSn = Model.TotalReportSn })';" value="전체 다운로드"></button></td>

                </tr><!--첨부파일2개이상일때 끝-->
            }
                

        </table>
    </div><!--tablewrap//-->


    <div id="btnwrap_sub">
        <div class="rightwrap">
            @if (ViewBag.SearchType == "Comp")
            {
                <a href="@Url.Action("MentoringTotalReportListByComp", "Report", new { BizWorkYear = @ViewBag.SelectParam.BizWorkYear, BizWorkSn = @ViewBag.SelectParam.BizWorkSn, CompSn = @ViewBag.SelectParam.CompSn })" class="list2 right"><em>목록</em></a>
            }
            else
            {
                <a href="@Url.Action("MentoringTotalReportListByMentor", "Report", new { BizWorkYear = @ViewBag.SelectParam.BizWorkYear, BizWorkSn = @ViewBag.SelectParam.BizWorkSn, MentorId = @ViewBag.SelectParam.MentorId })" class="list2 right"><em>목록</em></a>
            }
        </div>
    </div><!--btnwrap_sub//-->

</div><!--sub_rightwrap//-->