@model BizOneShot.Light.Models.ViewModels.DataRequstViewModels

@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}

@Styles.Render("~/css/jquery-ui")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/Js/files.js")


<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_biz05').addClass('on');
        //left menu
        if ($('#expertType').val() == "T") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_tax').addClass('on'); //회계-세무
        }
        else if ($('#expertType').val() == "L") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_law').addClass('on'); // 법무
        }
        else if ($('#expertType').val() == "W") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_work').addClass('on'); //노무
        }
        else if ($('#expertType').val() == "P") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_patent').addClass('on'); //특허
        }
        else if ($('#expertType').val() == "M") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_marketing').addClass('on'); //마케팅
        }


        $('#submit_form').bind('submit', function () {
          
            //파일체크
            var inputFileCount = 0;
            var totalSize = 0;
            var fileNames = new Array();
            $('input[type="file"]').each(function () {
                if ($(this).val() != '') {
                    //input에서 파일이름만 추출해서 담음
                    fileNames.push($(this).val().replace(/^.*[\\\/]/, ''));

                    fileSize = $('input[type="file"]').get(inputFileCount).files[0].size;
                    totalSize = totalSize + fileSize;

                    //inputFileCount += 1;
                }

                inputFileCount += 1;

            });

            if (totalSize > 10000000) {
                alert("전체 파일 사이즈는 10MB 를 초과할 수 없습니다.");
                return false;
            }

            var hasDups = !fileNames.every(function (v, i) {
                return fileNames.indexOf(v) == i;
            });
            if (hasDups) {
                // having duplicate values
                alert("업로드할 파일에 같은 파일이 있습니다.");
                return false;
            }

            if (!confirm('수정 하시겠습니까?')) {
                return false;
            }

            ////빈란 삭제
            //$('input[type="file"]').each(function () {
            //    if ($(this).val() == '') {
            //        $(this).remove();
            //    }
            //});

        });

    });

</script>


<div id="sub_rightwrap">

    <div class="sub_right_title expert_receive02"><em>자료요청 수신함 상세보기</em></div>
    <div id="tabswrap_three" class="tab01">
        <!--기업별 조회 목록 탭-->
        <ul>
            <li><a href="@Url.Action("ReceiveList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})" class="on">수신함</a></li>
            <li><a href="@Url.Action("SendList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">발신함</a></li>
            <li><a href="@Url.Action("CompanyQAList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">문의등록</a></li>
        </ul>
    </div>
    @using (Html.BeginForm("ModifyReceive", "ExpertService", FormMethod.Post, new { area = "Company", @class = "form-horizontal", role = "form", id = "submit_form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ReqDocSn)
        @Html.Hidden("expertType", ViewBag.ExpertType as string)

        <div class="tablewrap">
            <table>
                <colgroup>
                    <col width="100px">
                    <col width="260px">
                    <col width="100px">
                    <col width="150px">
                    <col width="140px">
                </colgroup>
                <tr>
                    <th>발송자</th>
                    <td>@Model.SenderName</td>
                    <th>요청일자</th>
                    <td colspan="2">@Model.ReqDt.GetValueOrDefault().ToShortDateString()</td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td colspan="4">@Model.ReqSubject</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="4" class="read">@Html.RepladeHtmlText(Model.ReqContents)</td>
                </tr>

                @if (Model.SenderFiles.Count == 1)
                {
                    <tr>
                        <!--첨부파일1개일때-->
                        <th>첨부파일</th>
                        <td colspan="4" class="nopad">
                            <div id="file_downwrap">
                                <ul>
                                    <li><span>@Model.SenderFiles[0].FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", @Model.SenderFiles[0])';" value="다운로드"></button></li>
                                </ul>
                            </div>
                        </td>
                    </tr><!--첨부파일1개일때 끝-->
                }
                else if (Model.SenderFiles.Count > 1)
                {
                    <tr>
                        <!--첨부파일2개이상일때-->
                        <th>첨부파일</th>
                        <td colspan="3" class="nopad">
                            <div id="file_downwrap">
                                <ul>
                                    @foreach (var item in Model.SenderFiles)
                                    {
                                        @*<li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DocumentDownload", new { fileSn = @item.FileSn })';" value="다운로드"></button></li>*@

                                        <li><span>@item.FileNm</span><button type="button" class="file_down" onclick="location.href='@Url.Action("DownloadReqDocFile", item)';" value="다운로드"></button></li>

                                    }
                                </ul>
                            </div>
                        </td>
                        <td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadReqDocFileMulti", new { reqDocSn = Model.ReqDocSn, regType = "S" })';" value="전체 다운로드"></button></td>
                        @*<td class="all"><button type="button" class="file_all_down" onclick="location.href='@Url.Action("DownloadManual", Model.ManualFiles)';" value="전체 다운로드"></button></td>*@
                    </tr><!--첨부파일2개이상일때 끝-->
                }

            </table>
        </div><!--tablewrap//-->

        <div class="line_dot20"></div>

        <div class="tablewrap">
            <!--답변-->
            <table>
                <colgroup>
                    <col width="105px">
                    <col width="645px">
                </colgroup>
                <tr>
                    <th rowspan="2">답변</th>
                    <td class="reply">
                        @Html.TextAreaFor(model => model.ResContents)
                        @Html.ValidationMessageFor(model => model.ReqContents, "", new { @class = "text-danger", @color = "#b94a48" })
                    </td>
                </tr>
                <tr>
                    <td class="nopad">
                        <div id="file_upwrap">
                            <ul>
                                <li>
                                    <!--파일1-->
                                    <input type="text" class="file" readonly="readonly" />
                                    <button type="button" class="file_search" value="찾아보기" onclick="return file_add(this);"></button>
                                    <button type="button" class="file_add" value="파일추가" onclick="return file_inpput_add(this);"></button>
                                    <button type="button" class="file_del" value="파일삭제" onclick="return file_inpput_remove(this);"></button>
                                    <em><input type="file" name="files" onchange="return get_filename(this)" /></em>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--tablewrap//--><!--답변 끝-->

        <div id="btnwrap_sub">
            <div class="rightwrap">
                <button type="submit" class="reply_submit rightmargin" value="답변 전송" ></button>
                <a href="@Url.Action("ReceiveList", "ExpertService", new { expertType = ViewBag.ExpertType })" class="list2 right"><em>목록</em></a>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    }
</div><!--custom_rightwrap//-->