@model IPagedList<BizOneShot.Light.Models.ViewModels.DataRequstViewModels>

@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_biz05').addClass('on');
        //left menu
        if ($('#expertType').val() == "T") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_tax').addClass('on'); //회계-세무
        }
        else if ($('#expertType').val() == "L") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_law').addClass('on'); // 법무
        }
        else if ($('#expertType').val() == "W") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_work').addClass('on'); //노무
        }
        else if ($('#expertType').val() == "P") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_patent').addClass('on'); //특허
        }
        else if ($('#expertType').val() == "M") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_marketing').addClass('on'); //마케팅
        }
        
    });

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>


<div id="sub_rightwrap">
    <div class="sub_right_title expert_receive"><em>자료요청 수신함</em></div>

    @using (Html.BeginForm("ReceiveList", "ExpertService", FormMethod.Post, new { area = "Company", id = "searchForm" }))
    {
        @Html.Hidden("expertType", ViewBag.ExpertType as string)
        @Html.Hidden("curPage", "1")
    }

    <div id="tabswrap_three" class="tab01">
        <!--기업별 조회 목록 탭-->
        <ul>
            <li><a href="@Url.Action("ReceiveList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})" class="on">수신함</a></li>
            <li><a href="@Url.Action("SendList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">발신함</a></li>
            <li><a href="@Url.Action("CompanyQAList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">문의등록</a></li>
        </ul>
    </div>


    <div class="tablewrap">
        <!--검색결과-->
        <table>
            <colgroup>
                <col width="45%">
                <col width="15%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <tr>
                <th class="topcen">제목</th>
                <th class="topcen">발송자</th>
                <th class="topcen">요청일자</th>
                <th class="topcen">답변일자</th>
            </tr>

            @if (Model == null || Model.TotalItemCount == 0)
                        {
                <tr>
                    <td colspan="5" style="text-align:center;">검색 결과가 없습니다.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="center">
                            <span class="full_line">@Html.ActionLink(item.ReqSubject, "ReceiveDetail", new { reqDocSn = item.ReqDocSn , expertType = ViewBag.ExpertType }, new { @style = "text-decoration:underline;" })</span>
                        </td>
                        <td class="center">@item.SenderName</td>
                        <td class="center">@item.ReqDt.GetValueOrDefault().ToShortDateString()</td>
                        @if (item.ResDt == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td class="center">@item.ResDt.GetValueOrDefault().ToShortDateString()</td>
                        }
                    </tr>
                }
                
            }
            
        </table>
    </div><!--tablewrap//-->
    @if (Model != null && Model.TotalItemCount != 0)
    {
        @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)
    }
    <!--검색결과 끝-->


</div><!--sub_rightwrap//-->