@model BizOneShot.Light.Models.ViewModels.RegSendViewModels

@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}

@Scripts.Render("~/Js/files.js")

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_biz05').addClass('on');
        //left menu
        if ($('#expertType').val() == "T") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_tax').addClass('on'); //회계-세무
        }
        else if ($('#expertType').val() == "L") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_law').addClass('on'); // 법무
        }
        else if ($('#expertType').val() == "W") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_work').addClass('on'); //노무
        }
        else if ($('#expertType').val() == "P") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_patent').addClass('on'); //특허
        }
        else if ($('#expertType').val() == "M") {
            $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_marketing').addClass('on'); //마케팅
        }

        $('#submit_form').bind('submit', function () {

            //파일체크
            var inputFileCount = 0;
            var totalSize = 0;
            var fileNames = new Array();
            $('input[type="file"]').each(function () {
                if ($(this).val() != '') {
                    //input에서 파일이름만 추출해서 담음
                    fileNames.push($(this).val().replace(/^.*[\\\/]/, ''));

                    fileSize = $('input[type="file"]').get(inputFileCount).files[0].size;
                    totalSize = totalSize + fileSize;

                    //inputFileCount += 1;
                }

                inputFileCount += 1;

            });

            if (totalSize > 10000000) {
                alert("전체 파일 사이즈는 10MB 를 초과할 수 없습니다.");
                return false;
            }

            var hasDups = !fileNames.every(function (v, i) {
                return fileNames.indexOf(v) == i;
            });
            if (hasDups) {
                // having duplicate values
                alert("업로드할 파일에 같은 파일이 있습니다.");
                return false;
            }

            if (!confirm('새 자료요청을 보내 시겠습니까?')) {
                return false;
            }

            ////빈란 삭제
            //$('input[type="file"]').each(function () {
            //    if ($(this).val() == '') {
            //        $(this).remove();
            //    }
            //});

        });

    });


</script>

<div id="sub_rightwrap">

    <div class="sub_right_title biz030303"><em>새 자료요청 보내기</em></div>

    <div id="tabswrap_three" class="tab02">
        <!--기업별 조회 목록 탭-->
        <ul>
            <li><a href="@Url.Action("ReceiveList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">수신함</a></li>
            <li><a href="@Url.Action("SendList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})" class="on">발신함</a></li>
            <li><a href="@Url.Action("CompanyQAList","ExpertService",new { area= "Company", expertType=ViewBag.ExpertType})">문의등록</a></li>
        </ul>
    </div>

    @using (Html.BeginForm("RegSend", "ExpertService", FormMethod.Post, new { area = "Company", @class = "form-horizontal", role = "form", id = "submit_form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.ReceiverId, new { @id = "receiverId" })
        @Html.Hidden("expertType", ViewBag.ExpertType as string)

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="tablewrap">
            <!--답변-->
            <table>
                <colgroup>
                    <col width="105px">
                    <col width="645px">
                </colgroup>
                <tr>
                    <th>수신자</th>
                    <td>@Model.ReceiverName</td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td class="form">
                        @Html.TextBoxFor(model => model.ReqSubject, new { @class = "w590" })
                        @Html.ValidationMessageFor(model => model.ReqSubject, "", new { @class = "text-danger", @color = "#b94a48" })
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td class="reply">
                        @Html.TextAreaFor(model => model.ReqContents)
                        @Html.ValidationMessageFor(model => model.ReqContents, "", new { @class = "text-danger", @color = "#b94a48" })
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td class="nopad">
                        <div id="file_upwrap">
                            <ul>
                                <li>
                                    <!--파일1-->
                                    <input type="text" class="file" readonly="readonly" />
                                    <button type="button" class="file_search" value="찾아보기" onclick="return file_add(this);"></button>
                                    <button type="button" class="file_add" value="파일추가" onclick="return file_inpput_add(this);"></button>
                                    <button type="button" class="file_del" value="파일삭제" onclick="return file_inpput_remove(this);"></button>
                                    <em><input type="file" name="files" onchange="return get_filename(this)" /></em>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--tablewrap//--><!--답변 끝-->
        <div id="btnwrap_sub">
            <div class="rightwrap">
                <button type="submit" class="newdata_require2 rightmargin" value="새 자료요청 보내기" />
                <button type="button" class="cancel2 right" value="취소" onclick="if (confirm('취소 하시겠습니까?')) location.href='@Url.Action("SendList","ExpertService", new { expertType = ViewBag.ExpertType })'" />
                @*</button><a href="@Url.Action("SendList","ExpertService", new { expertType = ViewBag.ExpertType })" class="cancel2 right"><em>취소</em></a>*@

            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
}
</div><!--sub_rightwrap//-->