@model BizOneShot.Light.Models.ViewModels.BizCheck12ViewModel

@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_report').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_basicsurvey').addClass('on');

        if ($('#status').val() == "C") {
            $('#mainForm input').attr('disabled', true);
        }
    });

    function goSubmit(submitType) {
        $('#submitType').val(submitType);
        $('#mainForm').submit();
    }

</script>

<div id="sub_rightwrap_report">

    <div class="sub_right_title specialist_02_02">
        <em>기초경영역량 문진표</em>
    </div>

    <div id="report_wm_step">
        <!--STEP 아이콘-->
        <ul>
            <li class="basic_step01"><a href="@Url.Action("Summary01","Report",new { area= "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP01.진단개요</em></a></li>
            <li class="basic_step02"><a href="@Url.Action("CompanyInfo01","Report",new { area= "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP02.기업정보</em></a></li>
            <li class="basic_step03 on"><a href="@Url.Action("BizCheck01","Report",new { area= "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP03.경영진단</em></a></li>
            <li class="basic_step04">
                @if (Model.Status == "C")
                {
                    <a href="@Url.Action("FinanceCheck01", "Report", new { area = "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP04.재무진단</em></a>
                }
                else
                {
                    <em>STEP04.재무진단</em>
                }
            </li>
            <li class="basic_step05">
                @if (Model.Status == "C")
                {
                    <a href="@Url.Action("OrgCheck01","Report",new { area= "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP05.조직진단</em></a>
                }
                else
                {
                    <em>STEP05.조직진단</em>
                }
            </li>
            <li class="basic_step06">
                @if (Model.Status == "C")
                {
                    <a href="@Url.Action("BasicSurveyComplete","Report",new { area= "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="ablock"><em>STEP06.작성완료</em></a>
                }
                else
                {
                    <em>STEP06.작성완료</em>
                }
            </li>
        </ul>
    </div>
@using (Html.BeginForm("BizCheck12", "Report", FormMethod.Post, new { area = "Company", @class = "form-horizontal", role = "form", id = "mainForm" }))
{
    @Html.HiddenFor(model => model.SubmitType, new { @id = "submitType" })
    @Html.HiddenFor(model => model.QuestionSn, new { @id = "QuestionSn" })
    @Html.HiddenFor(model => model.Status, new { @id = "status" })
    <div class="sub_report_checkbox">
        <div class="report_main_top2">
            <div class="title_medium">Ⅲ. 경영진단</div>

        </div>
        <div class="report_main_mid">
            <div class="main_mid_cont">
                <p class="title_mid">04. 인적자원</p>
            </div>
            <div class="main_mid_cont">
                <div class="main_mid_listBox">
                    <div class="listBox_title">
                        <span class="big_span">인적자원의 확보와 개발관리 _</span><span class="small_span">인적자원의 확보와 개발의 체계성 정도</span>
                    </div>
                    <div class="listBox_tap bg_on">
                        <span>체크리스트</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="90%">
                            <col width="10%">
                        </colgroup>
                        @if (Model == null || Model.HRMng == null)
                        {
                            <tr>
                                <td colspan="2" style="text-align:center;">검색 결과가 없습니다.</td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.HRMng.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <span class="full_span">@Model.HRMng[i].Title</span>
                                        <span class="min_span">@Model.HRMng[i].Content1</span>
                                        @if (@Model.HRMng[i].Content2 != null)
                                        {
                                            <span class="min_span">@Model.HRMng[i].Content2</span>
                                        }
                                    </td>
                                    <td>@Html.CheckBoxFor(m => @Model.HRMng[i].AnsVal) @Html.HiddenFor(m => @Model.HRMng[i].CheckListSn)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="main_mid_listBox">
                    <div class="listBox_title">
                        <span class="big_span">인적자원의 보상 및 유지관리 _</span><span class="small_span">인적자원의 보상, 유지관리의 적절성 정도</span>
                    </div>
                    <div class="listBox_tap bg_on">
                        <span>체크리스트</span>
                    </div>
                    <table class="join_info">
                        <colgroup>
                            <col width="90%">
                            <col width="10%">
                        </colgroup>
                        @if (Model == null || Model.HRMaintenance == null)
                        {
                            <tr>
                                <td colspan="2" style="text-align:center;">검색 결과가 없습니다.</td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.HRMaintenance.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <span class="full_span">@Model.HRMaintenance[i].Title</span>
                                        <span class="min_span">@Model.HRMaintenance[i].Content1</span>
                                        @if (@Model.HRMaintenance[i].Content2 != null)
                                        {
                                            <span class="min_span">@Model.HRMaintenance[i].Content2</span>
                                        }
                                    </td>
                                    <td>@Html.CheckBoxFor(m => @Model.HRMaintenance[i].AnsVal) @Html.HiddenFor(m => @Model.HRMaintenance[i].CheckListSn)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--container//-->
    <div id="btnwrap_sub">
        <div class="rightwrap left">
            <a href="@Url.Action("BizCheck11", "Report", new { area = "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="pre" value="이전"><em>이전</em></a>
        </div>
        <div class="rightwrap right">
            @if (Model.Status != "C")
                {
                <button type="button" class="next" onclick="goSubmit('N');" value="다음" />
            }
            else
            {
                <a href="@Url.Action("BizCheck13", "Report", new { area = "Company", @questionSn = @Model.QuestionSn, @status = Model.Status })" class="next" value="다음"><em>다음</em></a>
            }
        </div>
        @if (Model.Status != "C")
        {
            <div class="rightwrap centerwrap left auto_m">
                <button type="button" class="write_save" onclick="goSubmit('T');" value="임시저장" />
            </div>
        }
    </div>
}
</div>