@model BizOneShot.Light.Models.ViewModels.CompanyMyInfoViewModel

@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_biz04').addClass('on');
        //left menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb1').addClass('on');
    });
</script>

<div id="sub_rightwrap">
    <div class="sub_right_title biz050101"><em>내정보관리</em></div>

    <div class="tablewrap">
        <table>
            <!--아이디-->
            <colgroup>
                <col width="160px" />
                <col width="587px" />
            </colgroup>
            <tr>
                <th>아이디</th>
                <td><span class="blue bold">@Model.LoginId</span></td>
            </tr>
        </table>
        <div class="line_dot10"></div>
        <table>
            <!--사업자명 외-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>회사명</th>
                <td>@Model.CompNm</td>
            </tr>
            <tr>
                <th>대표자명</th>
                <td>@Model.ComOwnNm</td>
            </tr>
            <tr>
                <th>사업자등록번호</th>
                <td>@Model.ComRegistrationNo</td>
            </tr>
            <tr>
                <th>업태 / 종목</th>
                <td colspan="5" class="nopad">
                    <div id="list_downwrap">
                        <ul>
                            @if (Model.BizTypes == null || Model.BizTypes.Count == 0)
                            {
                                <li>
                                    <span>검색결과가 없습니다.</span>
                                </li>
                            }
                            else
                            {
                                foreach (var item in Model.BizTypes)
                                {
                                    <li>
                                        <span>@item.BizTypeCd</span><span> / </span><span>@item.BizTypeNm</span>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </td>
            </tr>
            @*<tr>
                <th>사업관리기관</th>
                <td>@Model.MngCompName</td>
            </tr>
            <tr>
                <th>사업명</th>
                <td>@Model.BizWorkName</td>
            </tr>*@
            <tr>
                <th>전화번호</th>
                <td>@Model.ComTelNo</td>
            </tr>
            <tr>
                <th>주소</th>
                <td>@Model.ComAddr</td>
            </tr>
        </table>
        <div class="line_dot10"></div>
        <table>
            <!--담당자명 외-->
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>담당자명</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>@Model.TelNo</td>
            </tr>
            <tr>
                <th>휴대폰</th>
                <td>@Model.MbNo</td>
            </tr>
            <tr>
                <th>이메일 주소</th>
                <td>@Model.Email</td>
            </tr>
        </table>
        <div class="line_dot10"></div>
        @*<table>
            <colgroup>
                <col width="160px" />
                <col width="590px" />
            </colgroup>
            <tr>
                <th>담당멘토</th>
                <td>@Model.MentorName</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>@Model.MentorTelNo</td>
            </tr>
            <tr>
                <th>휴대폰</th>
                <td>@Model.MentorMbNo</td>
            </tr>
            <tr>
                <th>이메일 주소</th>
                <td>@Model.MentorEmail</td>
            </tr>
        </table>*@
    </div><!--tablewrap//-->

    <div id="btnwrap_sub">
        @*<a href="" class="modify right"><em>수정</em></a>*@
        <a href="@Url.Action("ModifyMyInfo","MyInfo", Model)" class="bt_myinfo_modify right" title="수정"><em>수정</em></a>
    </div><!--btnwrap//-->

</div><!--sub_rightwrap//-->


