@model IPagedList<BizOneShot.Light.Models.ViewModels.BizTypeViewModel>

@{
    Layout = null;
}

<script>

    function clearPage() {
        $('#curPage').val("1");
    }
  
    function fnReturn() {
        var checkCnt = $(':radio[name="SelectBizType"]:checked').size();
        if (checkCnt == 0)
        {
            alert("업태/종목을 선택하지 않았습니다.");
            return false;
        }
        
        var id = $("#Id").val();
        var bizTypeCd = $(':radio[name="SelectBizType"]:checked').val();
        var bizTypeNm = $(':radio[name="SelectBizType"]:checked').attr("bizTypeNm");
        $(opener.location).attr("href", "javascript:resultReceive('" + id + "', '" + bizTypeCd + "', '" + bizTypeNm + "')");
        self.close();
    }

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>


<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>업태/종목 검색</title>
        <link rel="stylesheet" href="~/css/pop.css" />
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

    </head>

    <body>
        <div id="popup_wrapper">
            <div id="popup_headerwrap">
                <div class="header">
                    <span class="title">업종/종목 검색</span>

                </div>
            </div><!--popup_headerwrap//-->

            <div id="popup_contwrap">
                <p>업태/종목 코드나 업종/종목명을 입력하고 검색해 주세요.</p>
                @using (Html.BeginForm("SearchBizTypePopup", "MyInfo", FormMethod.Post, new { area = "Company", id = "searchForm" }))
                {
                    <div class="inputwrap">
                        @Html.TextBox("QUERY", (object)ViewBag.QUERY, new { @class = "w360", @id = "QUERY" })
                        <button type="submit" class="bt_search" onclick="clearPage()"><em>검색</em></button>
                    </div><!--inputwrap//-->
                    @Html.Hidden("curPage", "1")
                    @Html.Hidden("Id", ViewBag.Id as string)
                }
                <div class="line_dot10"></div>
                <div class="tablewrap">
                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="42%">
                            <col width="42%">
                        </colgroup>
                        <tr>
                            <th class="topcen">선택</th>
                            <th class="topcen">코드</th>
                            <th class="topcen">업태 / 종목</th>
                        </tr>
                        @if (Model == null || Model.TotalItemCount == 0)
                        {
                            <tr>
                                
                                <td colspan="3" style="text-align:center;"><p><span>죄송합니다.<br />일치하는 업태/종목이 없습니다.</span><br />다시 한번 확인하고 검색해 주세요.</p></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        @Html.RadioButton("SelectBizType", item.BizTypeCd, new { @bizTypeNm = item.BizTypeNm })
                                    </td>
                                    <td class="center">@item.BizTypeCd</td>
                                    <td class="center">@item.BizTypeNm</td>
                                </tr>
                            }
                        }
                    </table>
                </div><!--tablewrap//-->
                @if (Model != null && Model.TotalItemCount != 0)
                {
                    @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)
                }

                <div id="popup_btnwrap">
                    <button type="button" class="pop_choice" onClick="javascript: fnReturn();"><em>선택</em></button>
                    <button type="reset" class="pop_cancel" onClick="self.close()"><em>취소</em></button>
                </div><!--popup_btnwrap//-->

            </div><!--popup_contwrap//-->

        </div><!--popup_wrapper//-->

    </body>
</html>
